<div class="opt_CompareContent g">
        <div class="opt_HalfCol" id="opt_OriginalColumn">
            <div id="opt_First" class="opt_Section">
                <img src="//placehold.it/720x411" />
                <h2 class="opt_h2 g_h2">
                    <strong>Original</strong>
                    <span>The Classic<br>Espresso Experience</span>
                </h2>
                <p class="opt_P">
                    Short or long, strong or decaffeinated coffee, enjoyed black or topped with milk foam. Classic in its own way.
                </p>
            </div>
            <div class="opt_SectionBreak"></div>
            <div id="opt_Second" class="opt_Section">
                <img src="//placehold.it/151x365" />
                <p class="opt_Title">DISCOVER NESPRESSO <strong>ORIGINAL</strong> CAPSULES</p>
                <p class="opt_P">
                    Enjoy your authentic Espresso experience with a wide range of capsules. Each has its own distinctive character and aroma, and can be enjoyed with or without milk.
                </p>
            </div>
            <div class="opt_SectionBreak"></div>
            <div id="opt_Third" class="opt_Section">
                <p class="opt_Title">How Much <strong>Espresso</strong> Do you Get</p>
                <div class="opt_HowMuchDoYouGet">
                    <div class="opt_Item">
                        <img src="//placehold.it/155x177" />
                        <h2 class="opt_h2 g_h2"><strong>Ristretto</strong></h2>
                        <p class="opt_P">25 ml</p>
                    </div>
                    <div class="opt_Item">
                        <img src="//placehold.it/155x177" />
                        <h2 class="opt_h2 g_h2"><strong>Espresso</strong></h2>
                        <p class="opt_P">40 ml</p>
                    </div>
                    <div class="opt_Item">
                        <img src="//placehold.it/155x177" />
                        <h2 class="opt_h2 g_h2"><strong>LUNGO</strong></h2>
                        <p class="opt_P">110 ml</p>
                    </div>
                </div>
            </div>
            <div class="opt_SectionBreak"></div>
            <div id="opt_Fourth" class="opt_Section">
                <div class="opt_BenefitItem">
                    <img src="//placehold.it/80x80" />
                    <h2 class="opt_h2 g_h2"><strong>Exceptional<br>Coffee Choice</strong></h2>
                </div>
                <div class="opt_BenefitItem">
                    <img src="//placehold.it/80x80" />
                    <h2 class="opt_h2 g_h2"><strong>Creamy And<br>Dense Crema</strong></h2>
                </div>
                <div class="opt_BenefitItem">
                    <img src="//placehold.it/80x80" />
                    <h2 class="opt_h2 g_h2"><strong>Pressure<br>Extraction System</strong></h2>
                </div>
                <div class="opt_BenefitItem">
                    <img src="//placehold.it/80x80" />
                    <h2 class="opt_h2 g_h2"><strong>Espresso-Based<br>And Milk Recipes</strong></h2>
                </div>
            </div>
            <div class="opt_SectionBreak opt_ClearBreak"></div>
            <div id="opt_Fifth" class="opt_Section">
                <div class="opt_Machine">
                    <img src="//placehold.it/160x300" />
                    <div class="opt_DiscoverContent">
                        <p class="opt_Title">DISCOVER NESPRESSO<br><strong>ORIGINAL</strong> CAPSULES</p>
                        <button class="g_btn g_btnBuy"><span>Buy A Machine</span></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="opt_HalfCol" id="opt_OriginalColumn">
            <div id="opt_First" class="opt_Section">
                <img src="//placehold.it/720x411" />
                <h2 class="opt_h2 g_h2">
                    <strong>Vertuo</strong>
                    <span>THE FULL RANGE<br>OF COFFEE STYLES</span>
                </h2>
                <p class="opt_P">
                    From small cups to large mugs, from hot to cold recipes. It’s a universe of infinite possibilities, tailored to your every taste. Every style, your style.
                </p>
            </div>
            <div class="opt_SectionBreak"></div>
            <div id="opt_Second" class="opt_Section">
                <img src="//placehold.it/151x365" />
                <p class="opt_Title">DISCOVER NESPRESSO <strong>ORIGINAL</strong> CAPSULES</p>
                <p class="opt_P">
                    Enjoy your authentic Espresso experience with a wide range of capsules. Each has its own distinctive character and aroma, and can be enjoyed with or without milk.
                </p>
            </div>
            <div class="opt_SectionBreak"></div>
            <div id="opt_Third" class="opt_Section">
                <p class="opt_Title">How Much <strong>Espresso</strong> Do you Get</p>
                <div class="opt_HowMuchDoYouGet">
                    <div class="opt_Item">
                        <img src="//placehold.it/133x167" />
                        <h2 class="opt_h2 g_h2"><strong>Alto<br></strong></h2>
                        <p class="opt_P">414 ml</p>
                    </div>
                    <div class="opt_Item">
                        <img src="//placehold.it/133x167" />
                        <h2 class="opt_h2 g_h2"><strong>Mug<br></strong></h2>
                        <p class="opt_P">230 ml</p>
                    </div>
                    <div class="opt_Item">
                        <img src="//placehold.it/133x167" />
                        <h2 class="opt_h2 g_h2"><strong>Gran<br>Lungo</strong></h2>
                        <p class="opt_P">150 ml</p>
                    </div>
                    <div class="opt_Item">
                        <img src="//placehold.it/133x167" />
                        <h2 class="opt_h2 g_h2"><strong>Double<br>Espresso</strong></h2>
                        <p class="opt_P">80 ml</p>
                    </div>
                    <div class="opt_Item">
                        <img src="//placehold.it/133x167" />
                        <h2 class="opt_h2 g_h2"><strong>Espresso<br></strong></h2>
                        <p class="opt_P">40 ml</p>
                    </div>
                </div>
            </div>
            <div class="opt_SectionBreak"></div>
            <div id="opt_Fourth" class="opt_Section">
                <div class="opt_BenefitItem">
                    <img src="//placehold.it/80x80" />
                    <h2 class="opt_h2 g_h2"><strong>Exceptional<br>Coffee Choice</strong></h2>
                </div>
                <div class="opt_BenefitItem">
                    <img src="//placehold.it/80x80" />
                    <h2 class="opt_h2 g_h2"><strong>Creamy And<br>Dense Crema</strong></h2>
                </div>
                <div class="opt_BenefitItem">
                    <img src="//placehold.it/80x80" />
                    <h2 class="opt_h2 g_h2"><strong>Pressure<br>Extraction System</strong></h2>
                </div>
                <div class="opt_BenefitItem">
                    <img src="//placehold.it/80x80" />
                    <h2 class="opt_h2 g_h2"><strong>Espresso-Based<br>And Milk Recipes</strong></h2>
                </div>
            </div>
            <div class="opt_SectionBreak opt_ClearBreak"></div>
            <div id="opt_Fifth" class="opt_Section">
                <div class="opt_Machine">
                    <img src="//placehold.it/160x300" />
                    <div class="opt_DiscoverContent">
                        <p class="opt_Title">DISCOVER NESPRESSO<br><strong>ORIGINAL</strong> CAPSULES</p>
                        <button class="g_btn g_btnBuy"><span>Buy A Machine</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>