.g_bothOverflow {
    display: none;
}

.opt_CompareContent {
    max-width: 1440px;
    margin: auto;
    text-align: center;
    display: flex;
}
.opt_MobileShow {
    display: none;
}
.opt_MobileToggle {
    display: none;
}
.opt_HalfCol {
    width: 50%;
}

.opt_HalfCol#opt_VertuoColumn {
    background: white;
    color: black;
}

.opt_HalfCol#opt_VertuoColumn .opt_SectionBreak{
    border-color: black;
}

.opt_CompareContent img {
    max-width: 100%;
    height: auto;
}

#opt_First > img {
    max-height: 100%;
    height: 411px;
}

#opt_Second > img {
    max-height: 305px;
}

.opt_h2 strong {
    font-size: .5em;
    margin-bottom: .66667em;
    letter-spacing: .08333em;
    font-weight: 800 !important;
    display: block;
}

.opt_P {
    font-size: 1.14286em;
    line-height: 1.5;
    letter-spacing: .0625em;
    font-weight: 400;
    margin: auto;
    margin-bottom: 1.5em;
    max-width: 500px;
}

.opt_Title {
    font-size: 1.71429em;
    line-height: 1.33333;
    letter-spacing: .08333em;
    font-weight: 300;
    margin-bottom: 1em;
}

.opt_Title strong {
    font-weight: 600;
}

#opt_Second > .opt_Title {
    margin-top: -68px;
}

.opt_SectionBreak {
    margin: auto;
    margin-top: 35px;
    margin-bottom: 50px;
    border-bottom: 1px solid white;
    width: 60%;
    min-width: 280px;
}

.opt_SectionBreak.opt_ClearBreak {
    border-bottom: none;
}

.opt_HowMuchDoYouGet {
    display: flex;
    align-items: flex-end;
    justify-content: center;   
}

.opt_HowMuchDoYouGet .opt_Item h2.opt_h2, .opt_HowMuchDoYouGet .opt_Item .opt_P {
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.opt_HowMuchDoYouGet .opt_h2 strong {
    letter-spacing: 1.5px;
    font-weight: 600 !important;
    margin-bottom: 0;
}

.opt_HowMuchDoYouGet .opt_Item .opt_P {
    margin-top: 10px;
}

#opt_OriginalColumn .opt_Item img {
    margin-left: 27px;
}

#opt_VertuoColumn .opt_Item img {
	margin-left: -20%;
    max-width: 160%;
    margin-bottom: -25%;
    margin-top: -25%;
}

#opt_Fourth {
    display: flex;
    flex-wrap: wrap;
    max-width: calc(445px);
    margin: auto;
}

#opt_Fourth .opt_BenefitItem {
    width: 50%;
    margin-top: 20px;
    margin-bottom: 10px;
}

#opt_Fourth .opt_BenefitItem .opt_h2 strong {
    letter-spacing: 1.5px;
    font-weight: 600 !important;
}

.opt_Machine {
    display: flex;
    justify-content: center;
}

.opt_Machine .opt_DiscoverContent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    margin-right: 48px;
    margin-left: 0;
}

.opt_Machine .opt_DiscoverContent button {
    max-width: 190px;   
}

@media(max-width: 767px) {
    .opt_CompareContent {
        display: block;
    }
    .opt_CompareContent .opt_MobileToggle {
        display: block;
    }
    .opt_CompareContent .opt_MobileToggle a {
        display: block;
        float: left;
        width: 50%;
        font-weight: bold;
        height: 53px;
        line-height: 53px;
        position: relative;
        background: black;
    }
    .opt_CompareContent .opt_MobileToggle a:after {
        content: "";
        position: absolute;
        width: 20px;
        height: 100%;
        top: 0;
        right: 0;
    }
  
    .opt_HowMuchDoYouGet .opt_Item {
      width: 33%;
    }
  .opt_HowMuchDoYouGet .opt_Item:nth-child(4) {
      width: 50%;
    }
  .opt_HowMuchDoYouGet .opt_Item:nth-child(5) {
      width: 50%;
    }
    #opt_VertuoColumn .opt_Item img {
    margin-left: 10%;
    max-width: 100%;
    margin-bottom: -15%;
    margin-top: -25%;
	}
    .opt_CompareContent .opt_MobileToggle a#opt_VertuoButton {
        background: white;
        color: black;
    }
    .opt_CompareContent .opt_MobileToggle a#opt_OriginalButton:after {
        right: 0;
        background: url(https://service.maxymiser.net/cm/images-eu/1/1/1/01F83DF570B3ACADCB43EC14F5E2D5D593061A57882C8432AEAAE28B117AF652/nespresso-au/Test-86-Compare-Capsule/mobileoriginaltoggle.png);
      	background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    .opt_CompareContent .opt_MobileToggle a#opt_VertuoButton:after {
        left: 0;
		background: url(https://service.maxymiser.net/cm/images-eu/1/1/1/61A1CF33C7A3F2D566D0FF4F97F419D3F215433838A07ED05B01892D27810618/nespresso-au/Test-86-Compare-Capsule/mobilevertuotoggle.png);
      	background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    .opt_HalfCol {
        width: 100%;
    }
    .opt_Show {
        display: block;
    }
    .opt_CompareContent .opt_MobileToggle a.opt_Selected {
        text-decoration: underline;
    }
    .opt_Hide {
        display: none;
    }
    .opt_MobileShow {
        display: block;
    }
    .opt_MobileHide {
        display: none;
    }
    .opt_CompareContent #opt_First img {
        max-width: initial;
        width: 100%;
    }
    #opt_Second, #opt_Third {
        margin-left: 5%;
        margin-right: 5%;
    }
    .opt_SectionBreak {
        width: 90%;
    }
    .opt_SectionBreak.opt_ClearBreak {
        border-top: 1px solid white;   
    }
    .opt_HalfCol#opt_VertuoColumn .opt_SectionBreak.opt_ClearBreak{
        border-color: black;
    }
    .opt_CompareContent .opt_HowMuchDoYouGet {
        flex-wrap: wrap;   
    }
    .opt_CompareContent .opt_HowMuchDoYouGet br{
        display: none;
    }
    .opt_HowMuchDoYouGet .opt_Item .opt_P {
        margin-top: 0;
        margin-bottom: 10px;
    }
    #opt_Fourth .opt_BenefitItem .opt_h2 strong{
        line-height: initial;
        margin-top: 10px;
    }
    #opt_Fourth .opt_BenefitItem img {
        max-width: 120px;
        width: 100%;
    }
    .opt_Machine .opt_DiscoverContent button {
        max-width: 240px;
    }
}

@media (max-width: 340px) {
    .opt_CompareContent .opt_HowMuchDoYouGet .opt_h2 strong {
        letter-spacing: 1px;
    }
}