<ul class="HeaderNavigationBarDropdown__list">
    <li class="HeaderNavigationBarDropdown__item HeaderNavigationBarDropdown__item--medium-links"><a href="/au/en/order/capsules/vertuo" class="AccessibleLink HeaderNavigationBarDropdown__item-heading"><span class="HeaderNavigationBarDropdown__item-title">Vertuo</span><div class="HeaderNavigationBarDropdown__item-media"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024" role="img" aria-label="" width="100" height="100" class="ResponsiveImage HeaderNavigationBarDropdown__item-media-image"><path d=""></path></svg></div></a>
        <ul
            class="HeaderNavigationBarDropdown__medium-links">
            <li class="HeaderNavigationBarDropdown__medium-links-item"><a class="AccessibleLink HeaderNavigationBarDropdown__medium-link" href="/au/en/vertuo-coffee-capsules" style="color: rgb(65, 130, 0);">Discover the Range</a></li>
            <li class="HeaderNavigationBarDropdown__medium-links-item"><a class="AccessibleLink HeaderNavigationBarDropdown__medium-link" href="/au/en/order/capsules/vertuo" style="color: rgb(65, 130, 0);">Buy Coffee Capsules</a></li>
</ul>
</li>
<li class="HeaderNavigationBarDropdown__item HeaderNavigationBarDropdown__item--medium-links"><a href="/au/en/order/capsules/original" class="AccessibleLink HeaderNavigationBarDropdown__item-heading"><span class="HeaderNavigationBarDropdown__item-title">Original</span><div class="HeaderNavigationBarDropdown__item-media"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024" role="img" aria-label="" width="100" height="100" class="ResponsiveImage HeaderNavigationBarDropdown__item-media-image"><path d=""></path></svg></div></a>
    <ul
        class="HeaderNavigationBarDropdown__medium-links">
        <li class="HeaderNavigationBarDropdown__medium-links-item"><a class="AccessibleLink HeaderNavigationBarDropdown__medium-link" href="/au/en/original-coffee-capsules" style="color: rgb(65, 130, 0);">Discover the Range</a></li>
        <li class="HeaderNavigationBarDropdown__medium-links-item"><a class="AccessibleLink HeaderNavigationBarDropdown__medium-link" href="/au/en/order/capsules/original" style="color: rgb(65, 130, 0);">Buy Coffee Capsules</a></li>
        </ul>
</li>
<li class="HeaderNavigationBarDropdown__item HeaderNavigationBarDropdown__item--small HeaderNavigationBarDropdown__item--small-odd">
    <a href="/au/en/coffee-expertise" class="AccessibleLink HeaderNavigationBarDropdown__item-heading">
        <div class="HeaderNavigationBarDropdown__item-media"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024" role="img" aria-label="" width="80" height="80" class="ResponsiveImage HeaderNavigationBarDropdown__item-media-image"><path d=""></path></svg></div><span class="HeaderNavigationBarDropdown__item-title">Our Coffee Story</span></a>
</li>
<li class="HeaderNavigationBarDropdown__item HeaderNavigationBarDropdown__item--small">
    <a href="/au/en/coffee-selector" class="AccessibleLink HeaderNavigationBarDropdown__item-heading">
        <div class="HeaderNavigationBarDropdown__item-media"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024" role="img" aria-label="" width="80" height="80" class="ResponsiveImage HeaderNavigationBarDropdown__item-media-image"><path d=""></path></svg></div><span class="HeaderNavigationBarDropdown__item-title">Nespresso Coffee Guide</span></a>
</li>
</ul>
<div class="HeaderNavigationBarDropdown__push-banner">
    <div class="Banner"><a class="AccessibleLink Banner__link" data-promotion-item-id="AU_CreateSharedValue_MidBooster2018" href="https://www.nespresso.com/au/en/secure/login"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024" role="img" aria-label="" width="238" height="228" class="ResponsiveImage Banner__image"><path d=""></path></svg></a></div>
</div>

<ul class="HeaderNavigationBarDropdown__list">
    <li class="HeaderNavigationBarDropdown__item HeaderNavigationBarDropdown__item--medium-links"><a href="/au/en/order/capsules/vertuo" class="AccessibleLink HeaderNavigationBarDropdown__item-heading"><span class="HeaderNavigationBarDropdown__item-title">Vertuo</span><div class="HeaderNavigationBarDropdown__item-media"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024" role="img" aria-label="" width="100" height="100" class="ResponsiveImage HeaderNavigationBarDropdown__item-media-image"><path d=""></path></svg></div></a>
        <ul
            class="HeaderNavigationBarDropdown__medium-links">
            <li class="HeaderNavigationBarDropdown__medium-links-item"><a class="AccessibleLink HeaderNavigationBarDropdown__medium-link" href="/au/en/vertuo-coffee-capsules" style="color: rgb(65, 130, 0);">Discover the Range</a></li>
            <li class="HeaderNavigationBarDropdown__medium-links-item"><a class="AccessibleLink HeaderNavigationBarDropdown__medium-link" href="/au/en/order/capsules/vertuo" style="color: rgb(65, 130, 0);">Buy Coffee Capsules</a></li>
</ul>
</li>
<li class="HeaderNavigationBarDropdown__item HeaderNavigationBarDropdown__item--medium-links"><a href="/au/en/order/capsules/original" class="AccessibleLink HeaderNavigationBarDropdown__item-heading"><span class="HeaderNavigationBarDropdown__item-title">Original</span><div class="HeaderNavigationBarDropdown__item-media"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024" role="img" aria-label="" width="100" height="100" class="ResponsiveImage HeaderNavigationBarDropdown__item-media-image"><path d=""></path></svg></div></a>
    <ul
        class="HeaderNavigationBarDropdown__medium-links">
        <li class="HeaderNavigationBarDropdown__medium-links-item"><a class="AccessibleLink HeaderNavigationBarDropdown__medium-link" href="/au/en/original-coffee-capsules" style="color: rgb(65, 130, 0);">Discover the Range</a></li>
        <li class="HeaderNavigationBarDropdown__medium-links-item"><a class="AccessibleLink HeaderNavigationBarDropdown__medium-link" href="/au/en/order/capsules/original" style="color: rgb(65, 130, 0);">Buy Coffee Capsules</a></li>
        </ul>
</li>
<li class="HeaderNavigationBarDropdown__item HeaderNavigationBarDropdown__item--small HeaderNavigationBarDropdown__item--small-odd">
    <a href="/au/en/coffee-expertise" class="AccessibleLink HeaderNavigationBarDropdown__item-heading">
        <div class="HeaderNavigationBarDropdown__item-media"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024" role="img" aria-label="" width="80" height="80" class="ResponsiveImage HeaderNavigationBarDropdown__item-media-image"><path d=""></path></svg></div><span class="HeaderNavigationBarDropdown__item-title">Our Coffee Story</span></a>
</li>
<li class="HeaderNavigationBarDropdown__item HeaderNavigationBarDropdown__item--small">
    <a href="/au/en/coffee-selector" class="AccessibleLink HeaderNavigationBarDropdown__item-heading">
        <div class="HeaderNavigationBarDropdown__item-media"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024" role="img" aria-label="" width="80" height="80" class="ResponsiveImage HeaderNavigationBarDropdown__item-media-image"><path d=""></path></svg></div><span class="HeaderNavigationBarDropdown__item-title">Nespresso Coffee Guide</span></a>
</li>
</ul>
<div class="HeaderNavigationBarDropdown__push-banner">
    <div class="Banner"><a class="AccessibleLink Banner__link" data-promotion-item-id="AU_CreateSharedValue_MidBooster2018" href="https://www.nespresso.com/au/en/secure/login"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024" role="img" aria-label="" width="238" height="228" class="ResponsiveImage Banner__image"><path d=""></path></svg></a></div>
</div>