.optContent {
    width: 996px;
    margin: auto;
}
.optUpper {
    color: #635C51;
    font-family: "Trebuchet MS";
    font-size: 30px;
    margin-top: 58px;
    line-height: initial;
}
.optSection {
    width: 996px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    text-align: center;
    color: black;
}
#optSection3,
#optSection4,
#optSection5 {
    background: white;
}
#optSection5 {
	padding-bottom: 59px;    
}

.optContent .optSectionTitle {
    color: #635C51;
    font-family: "Trebuchet MS";
    font-size: 30px;
}

.optSection {
 	padding-bottom: 32px;   
}

.optContent .optBolderText {
    color: #000000;
    font-family: "Trebuchet MS";
    font-size: 18px;
}
.optContent .optGoldy {
    font-size: 24px;
    letter-spacing: 2px;
    color: grey;
    line-height: 24px;
    max-width: 300px;
    margin: auto;
    margin-top: 10px;
}

.optContent .optLarger {
    color: #000000;
    font-family: "Trebuchet MS";
    font-size: 20px;
    line-height: 20px;
}
.optContent .optRightSmaller {
    font-family: "Trebuchet MS";
    font-size: 14px;
}
.optContent .optTextCont {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-family: "Trebuchet MS";
    font-size: 25px;
}
.optContent .optTextCont span.optCircle {
    border: 1px solid black;
    margin-right: 10px;
    border-radius: 50px;
    width: 20px;
    line-height: 20px;
    font-size: 14px;
}
.optContent .optTextCont .optStepTitle {
    font-weight: bold;
}
.optContent .optSmallest {
    color: #000000;
    font-family: "Trebuchet MS";
    font-size: 12px;
    font-weight: 100;
}
.optContent .optOrange {
    color: #CA9542;
    ;
}
.optContent .optBlack {
    color: black;
}
.optContent .optGreen {
    padding: 0;
    height: 32px;
    line-height: 30px;
    padding: 0 21px;
    background: #357E00;
    border: 1px solid #204b00;
    color: white;
    border-radius: 3px;
}
.optContent .optBackground {
    background: #e3dacd url('https://image.ibb.co/f35b0Q/beigebackground.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
}
.optContent #optSection1 h1 {
    text-transform: uppercase;
    color: grey;
}
.optContent #optSection2 {
    display: flex;
    flex-direction: column;
}
.optContent #optSection2 .optTopRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.optContent #optSection2 .optTopRow .optRight {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.optContent #optSection2 .optBottomRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.optContent #optSection2 .optTopRow > div,
.optContent #optSection2 .optBottomRow > div {
    width: 50%;
    max-width: 350px;
}
.optContent #optSection3 {}
.optSwiper {
    width: 900px;
    margin: auto;
    position: relative;
}

.optContent #optSection5 .optSmallest {
 	margin-bottom: 25px;   
}

.optSwiper .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.optSwiper .optSlideTitle {
    color: #000000;
    font-family: "Trebuchet MS";
    font-size: 20px;
}
.optSwiper .swiper-slide img.optImage {
    width: 127px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.optSwiper .swiper-slide .optContentS p {
    margin: 0;
    margin-bottom: 18px;
}
.optSwiper .optContents .optOrange {
    color: #CA9542;
    font-family: "Trebuchet MS";
    font-size: 16px;
}
.optSwiper .swiper-slide button {
    margin: 0 !important;
}
.optSwiper .swiper-button-prev,
.optSwiper .swiper-button-next {
    color: black;
}
.optSwiper .swiper-pagination {
    display: none;
}