.opt .milkMachineOfferBanner {display:none;}
    .opt .ProductListElement__price.ProductListElement__price--machine {position:absolute; right:154px; top:88px; display:block; width:100px; text-align:left; padding:0; margin:0;}
    .opt .ProductListElement__price.ProductListElement__price--machine .oldprice {position:relative; top:-8px;}
    
    .opt .ProductListElement.ProductListElement--machine {padding-left:166px;}
    .opt .ProductListElement__information.ProductListElement__information--machine {width:auto; padding-right:60px;}
    
    #comparison-info-mobile {display:none;}
    
    
    /** Compare Button **/
    .add-to-compare {position:absolute; left:0; top:19px; width:120px;}
    .add-to-compare p {text-transform:uppercase; display:block; color:#000000; font-size:11px; line-height:12px; font-weight:bold; padding:0 0 20px 0;}
    
    .add-to-compare .add-to-compare-button {display:block; position:relative; height:35px; width:115px;}
    .add-to-compare .add-to-compare-button-mobile {display:none;}
    .add-to-compare .add-to-compare-button .compare-dot {position:absolute; left:3px; top:50%; display:block; width:13px; height:13px; margin-top:-7px; background:transparent url("https://i.imgur.com/Q6ETlS9.png") no-repeat left top; background-size:13px auto;}
    .add-to-compare .add-to-compare-button .compare-icon {position:absolute; left:21px; top:0; display:block; width:82px; height:35px; background:transparent url("https://i.imgur.com/VA8YCeS.png") no-repeat left top; background-size:82px auto; -moz-transition: opacity 0.2s ease; -webkit-transition: opacity 0.2s ease; -o-transition: opacity 0.2s ease; opacity:0.4;}
    .add-to-compare .add-to-compare-button .compare-icon:hover, .add-to-compare .add-to-compare-button .compare-icon.active {opacity:1;}
    .add-to-compare:not(.selected) .add-to-compare-button:hover .popup-message.active {visibility:visible; opacity:1;}
    
    .add-to-compare .compare-button {color:#A6A6A6; text-decoration:none; font-size:11px; line-height:12px; font-weight:normal; position:relative; margin-top:21px; display:inline-block;}
    .add-to-compare .compare-button:after {width:4px; height:4px; border-top-color:#A6A6A6; border-right-color:#A6A6A6; right:-7px;}
    .add-to-compare .compare-button:hover {text-decoration:underline;}
    
    .add-to-compare .popup-message {visibility:hidden; pointer-events:none; opacity:0; position:absolute; width:206px; left:50%; bottom:17px; margin-left:-103px; text-align:center; background-color:#ffffff; border:1px solid #d5d5d5; border-radius:4px; color:#986F38; font-size:12px; line-height:16px; font-weight:bold; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-box-shadow:0px 0px 3px 0px rgba(0, 0, 0, 0.1); -moz-box-shadow:0px 0px 3px 0px rgba(0, 0, 0, 0.1); box-shadow:0px 0px 3px 0px rgba(0, 0, 0, 0.1); padding:8px 12px 7px 12px; background: #ffffff; background: -moz-linear-gradient(top, #ffffff 0%, #f9f9f9 82%, #fefefe 100%); background: -webkit-linear-gradient(top, #ffffff 0%,#f9f9f9 82%,#fefefe 100%); background: linear-gradient(to bottom, #ffffff 0%,#f9f9f9 82%,#fefefe 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fefefe',GradientType=0 ); -moz-transition: opacity 0.2s ease; -webkit-transition: opacity 0.2s ease; -o-transition: opacity 0.2s ease; z-index:10;}
    
    .add-to-compare .compare-button .popup-message:after {content:""; display:block; width:26px; height:12px; position:absolute; bottom:-12px; left:50%; margin-left:-13px; background:transparent url("https://i.imgur.com/pxO3GAJ.png") no-repeat left top; background-size:26px auto;}
    .add-to-compare .compare-button:hover .popup-message.active {visibility:visible; opacity:1;}
    
    
    .add-to-compare.selected .add-to-compare-button .compare-icon {opacity:1;}
    .add-to-compare.selected .add-to-compare-button .compare-dot {background: transparent url("https://i.imgur.com/szssTzN.png") no-repeat left top; background-size:13px auto;}
    .add-to-compare.selected .compare-button.active {color:#986F38;}
    .add-to-compare.selected .compare-button.active:after {border-top-color:#986F38; border-right-color:#986F38;}
    
    
   
    /* Header */
    #product-comparison {opacity:0; display:none; text-align:center; width:100%; padding-bottom:63px;}
    #product-comparison .product-comparison-header {position:relative; padding-top:19px; background:transparent url("https://i.imgur.com/VA8YCeS.png") no-repeat right bottom; background-size:106px auto;}
    #product-comparison .product-comparison-header h2 {font-weight:bold; padding:0 0 4px 0; margin:0; color:#000000; font-size:29px; line-height:33px; text-transform:uppercase; letter-spacing:3.5px;}
    #product-comparison .product-comparison-header p {font-size:13px; line-height:15px; padding:0; margin:0; letter-spacing:1.17px;}
    #product-comparison .product-comparison-header .product-comparison-back {position:absolute; left:0; bottom:0; text-decoration:none; color:#986F38; font-size:13px; line-height:15px; letter-spacing:0.07px;}
    #product-comparison .product-comparison-header .product-comparison-back:hover {text-decoration:underline;}
    #product-comparison .product-comparison-header .product-comparison-back:before {content:""; display:inline-block; background:transparent url("https://i.imgur.com/mNTqr27.png") no-repeat left top; width:7px; height:10px; background-size:7px auto; margin-right:5px;}
    
    
    /* Filters */
    #product-comparison .product-comparison-filters {border-top:1px solid #eeeeee; border-bottom:1px solid #eeeeee; text-align:left; padding:8px 0 9px 0; margin-top:13px; position:relative; z-index:15;}
    #product-comparison .product-comparison-filters:after {content:""; display:table; clear:both;}
    
    #product-comparison .product-comparison-filters .filter {float:left; margin:0 1.49% 0 0; width:32.34%; position:relative;}
    #product-comparison .product-comparison-filters .filter:nth-child(3n) {margin-right:0;}
    #product-comparison .product-comparison-filters .filter .filter-button {display:block; font-size:13px; line-height:15px; font-weight:bold; letter-spacing:1.17px; color:#999999; border:1px solid #eaeaea; border-radius:3px; background-color:#ffffff; position:relative; padding:14px 25px 14px 10px;}
    #product-comparison .product-comparison-filters .filter .filter-button:after {content:""; display:block; position:absolute; right:15px; top:50%; background:transparent url("https://i.imgur.com/whVY45z.png") no-repeat left top; width:11px; height:7px; background-size:11px auto; margin-top:-3px; opacity:0.4;}
    #product-comparison .product-comparison-filters .filter .filter-button.active {color:#000000;}
    #product-comparison .product-comparison-filters .filter .filter-button.active:after {opacity:1;}
    
    #product-comparison .product-comparison-filters .filter.active .filter-button {color:#000000; border-color:#1A1A1A;}
    
    #product-comparison .product-comparison-filters .filter .filters-list {list-style:none; padding:0; margin:0; background-color:#ffffff; position:absolute; left:0; top:42px; border:1px solid #1A1A1A; -webkit-border-bottom-right-radius: 3px; -webkit-border-bottom-left-radius: 3px; -moz-border-radius-bottomright: 3px; -moz-border-radius-bottomleft: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; float:none; width:100%; visibility:hidden; opacity:0; -moz-transition: opacity 0.2s ease; -webkit-transition: opacity 0.2s ease; -o-transition: opacity 0.2s ease; border-top:none;}
    #product-comparison .product-comparison-filters .filter .filters-list:before {content:''; display:block; height:1px; width:calc(100% - 16px); margin:0 auto 8px auto; background-color:#eeeeee;}
    #product-comparison .product-comparison-filters .filter .filters-list li {display:block;}
    #product-comparison .product-comparison-filters .filter .filters-list li a {display:block; color:#999999; font-size:13px; line-height:33px; letter-spacing:1.17px; font-weight:bold; padding:0 0 0 20px; height:33px;}
    #product-comparison .product-comparison-filters .filter .filters-list li.disabled a {cursor:not-allowed; color:#d7d7d7 !important;}
    #product-comparison .product-comparison-filters .filter .filters-list li a:hover {color:#000000; background-color:#f9f9f9; font-weight:bold;}
    #product-comparison .product-comparison-filters .filter.active .filters-list {opacity:1; visibility:visible;}
    #product-comparison .product-comparison-filters .filter.active .filter-button:after {transform:rotate(180deg);}
    
    
    /* Products */
    #product-comparison-list:after {content:""; display:table; clear:both;}
    #product-comparison-list > div {float:left; margin:10px 1.49% 0 0; width:32.34%; text-align:left; color:#000000;}
    #product-comparison-list > div:nth-child(3n) {margin-right:0;}
    #product-comparison-list > div h3 {color:#000000; font-size:18px; line-height:21px; letter-spacing:2.17px; text-transform:uppercase; padding:0 0 9px 0; margin:0; font-weight:bold;}
    #product-comparison-list > div h5 {font-size:16px; line-height:19px; text-transform:uppercase; font-weight:bold; letter-spacing:1.93px; padding:14px 0 16px 0; margin:0; display:block; text-align:center;}
    #product-comparison-list > div .price {color:#3E8706; font-size:18px; line-height:18px; letter-spacing:0.81px; text-transform:uppercase; padding:0; margin:0; font-weight:bold;}
    
    
    #product-comparison-list .read-more {color:#986F38; text-decoration:none; font-size:16px; line-height:18px; font-weight:normal; position:relative; display:inline-block; letter-spacing:2.52px; margin-top:9px;}
    #product-comparison-list .read-more:after {border-top-color:#986F38; border-right-color:#986F38; right:-7px;}
    #product-comparison-list .read-more:hover {text-decoration:underline;}
    
    
    #product-comparison-list > div .product-image {padding:15px 0 10px 0; position:relative;}
    #product-comparison-list > div .product-image img {display:block; max-width:none; width:100%; height:auto; margin:0; opacity:0; position:absolute; left:0; top:15px; -moz-transition: opacity 0.3s ease; -webkit-transition: opacity 0.3s ease; -o-transition: opacity 0.3s ease; z-index:2;}
    #product-comparison-list > div .product-image img.active {opacity:1; z-index:10;}
    #product-comparison-list > div .product-image img.placeholder {position:relative; left:auto; top:auto; opacity:1; z-index:1;}
    
    
    #product-comparison-list > div .colors {text-align:center; border-top:1px solid #eeeeee; border-bottom:1px solid #eeeeee; padding:0 0 15px 0;}
    #product-comparison-list > div .colors .dot {display:inline-block; border:1px solid #EEEEEE; border-radius:16px; margin:0 3px; width:32px; height:32px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; position:relative;}
    #product-comparison-list > div .colors .dot .inner {width:0; height:0; border-radius:50%; background-color:#ffffff; border:1px solid transparent; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; display:block; position:absolute; left:50%; top:50%; -moz-transition: all 0.2s ease; -webkit-transition: all 0.2s ease; -o-transition: all 0.2s ease; transform: translate(-50%,-50%); opacity:0;}
    #product-comparison-list > div .colors .dot.active .inner, #product-comparison-list > div .colors .dot:hover .inner {width:20px; height:20px; border-color:#EEEEEE; opacity:1;}
    #product-comparison-list > div .colors .dot:hover {cursor:pointer;}
    
    #product-comparison-list > div .benefits {border-bottom:1px solid #eeeeee; padding-bottom:17px;}
    #product-comparison-list > div .benefits ul {list-style:none; padding:0; margin:0;}
    #product-comparison-list > div .benefits ul li {padding:0 0 11px 15px; margin:0; font-size:14px; line-height:16px; font-weight:400; position:relative;}
    #product-comparison-list > div .benefits ul li:before {content:''; display:block; position:absolute; left:0; top:3px; width:5px; height:8px; background:transparent url("https://i.imgur.com/P64JReX.png") no-repeat left top; background-size:5px auto;}
    
    
    #product-comparison-list > div .features {border-bottom:1px solid #eeeeee; padding-bottom:17px;}
    #product-comparison-list > div .features:after {content:""; display:table; clear:both;}
    #product-comparison-list > div .features ul {list-style:none; padding:0; margin:0; text-align:center;}
    #product-comparison-list > div .features ul:after {content:""; display:table; clear:both;}
    #product-comparison-list > div .features ul li {display:block; float:left; width:50%; padding:18px 26px 8px 26px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
    #product-comparison-list > div .features ul li:nth-child(2n+1) {clear:left;}
    #product-comparison-list > div .features ul li img {display:block; max-width:100%; height:auto; max-height:54px; margin:0 auto;}
    #product-comparison-list > div .features ul li p {display:block; font-size:14px; line-height:16px; font-weight:400; padding:9px 0 0 0;}
    
    
    #product-comparison-list > div .drinks {border-bottom:1px solid #eeeeee; padding-bottom:15px;}
    #product-comparison-list > div .drinks:after {content:""; display:table; clear:both;}
    #product-comparison-list > div .drinks ul {list-style:none; padding:0; margin:-6px auto 0 auto; text-align:center;}
    #product-comparison-list > div .drinks ul li {display:inline-block; padding:0 16px;}
    #product-comparison-list > div .drinks ul li img {display:block; max-width:100%; height:auto; max-height:26px; margin:0 auto;}
    #product-comparison-list > div .drinks ul li p {display:block; font-size:10px; line-height:10px; font-weight:400; padding:9px 0 0 0; color:#999999;}
    #product-comparison-list > div .drinks ul li p strong {display:block; font-weight:700; padding-bottom:2px;}
    
    
    #product-comparison-list > div .info {border-bottom:1px solid #eeeeee; padding-bottom:0;}
    #product-comparison-list > div .info:after {content:""; display:table; clear:both;}
    #product-comparison-list > div .info .more-info {display:none;}
    
    #product-comparison-list > div .info h5 a {display:block; text-decoration:none; color:#000000; position:relative; padding:5px 0;}
    #product-comparison-list > div .info h5 a:after {content:""; display:block; position:absolute; right:15px; top:50%; background:transparent url("https://i.imgur.com/whVY45z.png") no-repeat left top; width:11px; height:7px; background-size:11px auto; margin-top:-3px;}
    #product-comparison-list > div .info h5 a:hover {color:#999999;}
    #product-comparison-list > div .info h5 a.active:after {transform:rotate(180deg);}
    
    #product-comparison-list > div .info ul {list-style:none; padding:0; margin:0 auto; text-align:center;}
    #product-comparison-list > div .info ul li {display:block; padding:19px 15px 19px 15px; margin:0; border-bottom:1px solid #eeeeee; font-weight:400; text-transform:uppercase; font-size:16px; line-height:19px; display:block; letter-spacing:1.93px;}
    #product-comparison-list > div .info ul li:last-child {border-bottom:none;}
    #product-comparison-list > div .info ul li span {display:inline-block;}
    #product-comparison-list > div .info ul li strong {font-weight:bold;}
    #product-comparison-list > div .info ul li strong span {text-transform:none;}
    #product-comparison-list > div .info ul li small strong {display:none;}
    
    
    #product-comparison-list > div .view-details {display:block; text-decoration:none; background-color:#3e8706; max-width:255px; text-align:center; padding:12px 5px; color:#FFFFFF; text-transform:uppercase; font-size:14px; line-height:16px; letter-spacing:1.09px; font-weight:400; background-color:#3E8706; border-radius:3px; -webkit-box-shadow:0px 2px 4px 0px rgba(0, 0, 0, 0.24); -moz-box-shadow:0px 2px 4px 0px rgba(0, 0, 0, 0.24); box-shadow:0px 2px 4px 0px rgba(0, 0, 0, 0.24); -moz-transition: all 0.2s ease; -webkit-transition: all 0.2s ease; -o-transition: all 0.2s ease; margin:30px auto 16px auto;}
    #product-comparison-list > div .view-details:hover { -webkit-box-shadow:0px 2px 8px 0px rgba(0, 0, 0, 0.55); -moz-box-shadow:0px 2px 8px 0px rgba(0, 0, 0, 0.55); box-shadow:0px 2px 8px 0px rgba(0, 0, 0, 0.55);}
    
    
    #product-comparison-list > div .pdf {display:block; text-align:left; text-decoration:none; color:#986F38; font-weight:400; font-size:16px; line-height:20px; letter-spacing:2.52px; max-width:230px; margin:0 auto 0 auto; position:relative;}
    #product-comparison-list > div .pdf:after {position:relative; right:auto; top:2px; bottom:auto; margin:0; display:inline-block; margin-left:6px;}
    
    
    #product-comparison-list > div .placeholder p {color:#D2D2D2; font-weight:bold; font-size:18px; line-height:21px; letter-spacing:2.17px; text-transform:uppercase; display:block; padding:0 0 20px 0; margin:0; text-align:center;}
    #product-comparison-list > div .placeholder a {display:block; width:69px; height:70px; border-radius:50%; margin:0 auto; border:1px solid #000000; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; background:#ffffff url("https://i.imgur.com/RRC2Ikl.png") no-repeat center center; background-size:33px auto; opacity:0.4;}
    #product-comparison-list > div .placeholder a:hover {opacity:1;}
    #product-comparison-list > div .placeholder img {display:block; max-width:100%; height:auto; margin:13px auto 0 auto;}
    
    
    /***** Media Queries *****/
    @media screen and (max-width: 1200px){
        .opt .ProductListElement.ProductListElement--machine {padding-left:140px;}
        .opt .ProductListElement__information.ProductListElement__information--machine {padding-right:20px;}
    }
    
    @media screen and (max-width: 960px){
        .opt .ProductListElement.ProductListElement--machine {padding-left:130px;}
        .opt .ProductListElement__information.ProductListElement__information--machine {padding-right:7px;}
        
        #product-comparison {padding:0 15px 30px 15px;}
        #product-comparison .product-comparison-header {background-image:none;}
        #product-comparison .product-comparison-header h2 {font-size:27px; line-height:30px; letter-spacing:3px;}
        #product-comparison .product-comparison-header .product-comparison-back {bottom:auto; top:0;}
        
        #product-comparison .product-comparison-filters .filter .filter-button {font-size:11px;}
        #product-comparison .product-comparison-filters .filter .filters-list li a {font-size:11px; padding-left:15px; height:30px; line-height:30px;}
        
        #product-comparison-list > div .product-image {max-width:86%; margin:0 auto;}
        
        #product-comparison-list .read-more {font-size:15px; letter-spacing:2.2px;}
        
        #product-comparison-list > div .features ul li {padding:14px 10px 4px 10px;}
        #product-comparison-list > div .features ul li p {font-size:13px; line-height:15px;}
        #product-comparison-list > div .features ul li img {max-height:48px;}
        
        #product-comparison-list > div .drinks ul li {padding:0 10px;}
        #product-comparison-list > div .info ul li {font-size:14px; line-height:18px; letter-spacing:1.6px;}
        #product-comparison-list > div .pdf {font-size:15px; line-height:19px;}
        
        #product-comparison-list > div .placeholder p {font-size:16px; line-height:20px;}
        #product-comparison-list > div .placeholder a {width:49px; height:50px; background-size:25px auto;}
        #product-comparison-list > div .placeholder img {max-width:86%;}
    }
    
    @media screen and (max-width: 767px){
        .opt .milkMachineOfferBanner {display:block;}
        .opt .ProductListElement.ProductListElement--machine {padding-left:0; height:209px;}
        .opt .ProductListElement.ProductListElement--machine:hover {background-color:#ffffff;}
        .opt .ProductListElement__information.ProductListElement__information--machine {padding-right:0;}
        .opt .ProductListElement__price.ProductListElement__price--machine {position:relative; right:auto; top:auto; width:auto;}
        .opt .ProductListElement__name {margin-bottom:1px; max-width:57%;}
        .opt .ProductListElement__details-link {top:auto; bottom:7px; margin:0; font-size:12px; height:34px; line-height:34px; padding-top:0; padding-bottom:0; font-size:12px;}
        .opt .ProductListGroup__range-link--machine {left:auto; right:0; top:8px; bottom:auto;}
        .opt .ProductListGroup__range-link--machine:after {width:4px; height:4px; right:-9px;}
        
        .add-to-compare {position:absolute; left:0; top:auto; width:100%; bottom:47px;}
        .add-to-compare p {display:none;}
        .add-to-compare .compare-button {display:none !important;}
        .add-to-compare .add-to-compare-button {display:none !important;}
        .add-to-compare .add-to-compare-button-mobile {display:block; border:1px solid #9b9b9b; border-radius:3px; background-color:#ffffff; padding:0 5px 0 5px; text-align:center; color:#A6A6A6; font-size:12px; font-weight:bold; height:34px; line-height:34px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; text-deocration:none; text-transform:uppercase; letter-spacing:0.6px;}
        .add-to-compare .add-to-compare-button-mobile span {display:none;}
        .add-to-compare .add-to-compare-button-mobile span.stage-1 {display:inline-block; padding-left:45px; background:transparent url("https://i.imgur.com/ndOaR4Y.png") no-repeat left 6px; background-size:39px auto; height:32px; line-height:32px;}
        .add-to-compare .add-to-compare-button-mobile span.stage-2 {padding-left:23px; background:transparent url("https://i.imgur.com/wGk6ADx.png") no-repeat left 6px; background-size:17px auto; height:32px; line-height:32px;}
        .add-to-compare .add-to-compare-button-mobile span.stage-3 {padding-left:32px; background:transparent url("https://i.imgur.com/f5lX9gK.png") no-repeat left 6px; background-size:17px auto; height:32px; line-height:32px;}
        .add-to-compare .add-to-compare-button-mobile span.stage-3:after {content:""; display:inline-block; width:39px; height:18px; background:transparent url("https://i.imgur.com/mShM6EY.png") no-repeat left top; background-size:39px auto; vertical-align:top; margin-left:10px; position:relative; top:6px;}
        .add-to-compare.selected .add-to-compare-button-mobile {border-color:#1a1a1a; color:#1a1a1a;} 
        .add-to-compare.selected .add-to-compare-button-mobile span.stage-1 {display:none;}
        .add-to-compare.selected .add-to-compare-button-mobile span.stage-2 {display:inline-block;}
        .add-to-compare.selected .add-to-compare-button-mobile.active span.stage-1, .add-to-compare.selected .add-to-compare-button-mobile.active span.stage-2 {display:none;}
        .add-to-compare.selected .add-to-compare-button-mobile.active {border-color:#1A1A1A; background-color:#1A1A1A; color:#ffffff;}
        .add-to-compare.selected .add-to-compare-button-mobile.active span.stage-3 {display:inline-block;}

        #product-comparison .product-comparison-filters #filter-3 {display:none;}
        #product-comparison .product-comparison-filters .filter {width:48.5%; margin-right:3%;}
        #product-comparison .product-comparison-filters .filter#filter-2 {margin-right:0;}

        #product-comparison-list #product-comparison-3 {display:none;}
        #product-comparison-list > div {width:48.5%; margin-right:3%;}
        #product-comparison-list > div#product-comparison-2 {margin-right:0;}
        
        #comparison-info-mobile {position:fixed; left:0; bottom:0; width:100%; z-index:100; background-color:#1A1A1A; height:47px; padding:0 0 0 86px;}
        #comparison-info-mobile.visible {display:block;}
        #comparison-info-mobile .clear {position:absolute; height:45px; left:1px; top:1px; width:84px; background-color:#ffffff; text-decoration:none; text-transform:uppercase; color:#1A1A1A; font-size:12px; line-height:45px; font-weight:bold; text-align:center;}
        #comparison-info-mobile .compare-now {height:47px; line-height:47px; text-decoration:none; text-transform:uppercase; text-align:center; color:#ffffff; font-size:12px; font-weight:bold; display:block; letter-spacing:0.6px;}
        #comparison-info-mobile .compare-now span {display:none; padding-left:45px; background:transparent url("https://i.imgur.com/mShM6EY.png") no-repeat left 14px; background-size:39px auto;}
        #comparison-info-mobile .compare-now span.stage-1 {display:inline-block;}
        #comparison-info-mobile .compare-now span.stage-2:after {content:""; display:inline-block; width:5px; height:8px; background:transparent url("https://i.imgur.com/3jcnurH.png") no-repeat left top; background-size:5px auto; margin-left:6px;}
        #comparison-info-mobile .compare-now.active span.stage-1 {display:none;}
        #comparison-info-mobile .compare-now.active span.stage-2 {display:inline-block;}
        
        #product-comparison .product-comparison-header h2 {font-size:26px; line-height:30px; letter-spacing:2.34px; padding-top:3px;}
        #product-comparison .product-comparison-header .product-comparison-back {top:-2px;}
        
        #product-comparison .product-comparison-filters {border:none; margin:0; padding:19px 0 0 0;}
        
        #product-comparison .product-comparison-filters .filter .filter-button {font-size:11px; line-height:12px; letter-spacing:0.89; padding:9px 25px 9px 5px;}
        #product-comparison .product-comparison-filters .filter .filter-button:after {right:5px; width:7px; height:4px; background-size:7px auto !important; margin-top:-2px;}
        #product-comparison .product-comparison-filters .filter .filters-list {top:29px;}
        #product-comparison .product-comparison-filters .filter .filters-list li a {font-size:11px; padding:5px 0 5px 5px; letter-spacing:0.89; height:auto; line-height:12px;}
        
        #product-comparison-list h3 {display:none;}
        #product-comparison-list > div h5 {font-size:13px; line-height:15px; letter-spacing:1.57px; padding:15px 0 9px 0;}
        #product-comparison-list > div .price {font-size:13px; line-height:18px; letter-spacing:0.58px;}
        #product-comparison-list > div .product-image {max-width:84%; padding:0; margin-top:8px; margin-bottom:8px;}
        #product-comparison-list > div .product-image img {top:0 !important;}
        
        #product-comparison-list > div .colors {padding:0 0 11px 0;}
        #product-comparison-list > div .colors h5 {max-width:100px; margin:0 auto;}
        #product-comparison-list > div .colors .dot {border-radius:12px; margin:0 3px; width:26px; height:26px;}
        #product-comparison-list > div .colors .dot.active .inner, #product-comparison-list > div .colors .dot:hover .inner {width:16px; height:16px;}
        
        #product-comparison-list > div .benefits h5 {max-width:100px; margin:0 auto;}
        #product-comparison-list > div .benefits ul li {max-width:135px; margin:0 auto; font-size:12px; line-height:14px; padding:0 0 7px 14px;}
        
        #product-comparison-list .read-more {font-size:14px; line-height:18px; letter-spacing:2.2px;}
        
        #product-comparison-list > div .features {padding-bottom:7px;}
        #product-comparison-list > div .features ul li {padding:1px 5px 12px 5px;}
        #product-comparison-list > div .features ul li img {max-height:30px;}
        #product-comparison-list > div .features ul li p {font-size:10px; line-height:11px; padding:4px 0 0 0;}
        
        #product-comparison-list > div .drinks {padding-bottom:6px;}
        #product-comparison-list > div .drinks h5 {max-width:140px; margin:0 auto;}
        #product-comparison-list > div .drinks ul:after {content:""; display:table; clear:both;}
        #product-comparison-list > div .drinks ul li {float:left; width:50%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; display:block; margin-bottom:12px;}
        #product-comparison-list > div .drinks ul li:nth-child(3) {clear:left;}
        #product-comparison-list > div .drinks ul li p {font-size:10px; line-height:10px; padding:7px 0 0 0;}
        
        #product-comparison-list > div .pdf {font-size:10px; line-height:15px; letter-spacing:0.72px; max-width:127px; margin:0 auto;}
        #product-comparison-list > div .pdf:after {top:1px; bottom:auto; margin:0; display:inline-block; margin-left:2px; width:3px; height:3px;}
        #product-comparison-list > div .view-details {max-width:127px; margin:20px auto 9px auto; font-size:10px; letter-spacing:0.44px; height:34px; line-height:34px; padding:0;}
        
        #product-comparison-list > div .info h5 {padding:10px 0 9px 0;}
        #product-comparison-list > div .info ul li {font-size:13px; line-height:15px; letter-spacing:1.57px; padding-left:2px; padding-right:2px;}
        #product-comparison-list > div .info ul li strong span {display:none;}
        #product-comparison-list > div .info ul li small {font-size:11px; line-height:12px; display:block;}
        #product-comparison-list > div .info ul li small strong {display:inline; text-transform:none;}
        
        #product-comparison .product-comparison-header .product-comparison-back.fixed {position:fixed; left:0; top:50px; width:100%; background-color:#ffffff; z-index:102; display:block; text-align:left; padding:5px 0 0 15px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
        #product-comparison .product-comparison-filters.fixed {position:fixed; left:0; top:70px; width:100%; background-color:#ffffff; z-index:100; padding:5px 15px 6px 15px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-box-shadow:0px 2px 4px 0px rgba(0, 0, 0, 0.2); -moz-box-shadow:0px 2px 4px 0px rgba(0, 0, 0, 0.2); box-shadow:0px 2px 4px 0px rgba(0, 0, 0, 0.2);}
    }
    
    @media screen and (max-width: 320px){
        .opt .ProductListElement.ProductListElement--machine {height:226px;}
        .opt .ProductListGroup__range-link--machine {right:auto; top:auto; bottom:81px; left:114px;}
        .opt .ProductListElement__color-shades {margin-top:4px;}
        .opt .ProductListElement__name {max-width:100%;}
    }