/* Top level sizes */

.optNav li.menu-top:nth-child(8) > ul > li.item2.row1.medium,
.optNav li.menu-top:nth-child(8) > ul > li.item1.row1.medium {
	width: 285.5px;
}
.optNav li.menu-top:nth-child(8) > ul > li.row1.medium > a {
	width: 100%;
}
.optNav li.menu-top:nth-child(8) > ul > li.item2.row1.medium {
	left: 285.5px;
}
.optNav li.menu-top:nth-child(8) > ul > li.item3.row1.medium {
	right: 0;
	left: initial;
	width: 425px;
}
.optTitleFont {
	font-size: 14px;
}

/* Item 1 */
.optNav li.menu-top:nth-child(8) > ul > li.item1.row1.medium > a img {
	width: 150px;
}
.optNav li.menu-top:nth-child(8) > ul > li.item1.row1.medium > a .info .item-title {
	font-size: 16px;
}
.optNav li.menu-top:nth-child(8) > ul > li.item1.row1.medium > a .info p {
	font-size: 14px;
}
.optNav .main-nav .submenu .row1.medium img {
    width: 85px;
}
/* Item 2 */
.optNav .optTile2List {
	text-align: left;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	max-height: 60px;
}
.optNav .optOrange {
	color: #a78344;
}
.optNav .optTile2List li {
	width: 60%;
}
.optNav .optTile2List li:hover {
	text-decoration: underline;
}
.optNav li.menu-top:nth-child(8) > ul > li.item2.row1.medium > a .info {
	margin: 0 15px;
}

/* Item 3 */
.optNav .optTile3List {
	text-align: left;
	list-style: none;
}
.optNav .optTile3List li::before {
	content: "• ";
	color: #a78344;
}
.optNav .optTile3List li:hover {
	text-decoration: underline;
}
.optNav .optTile3List li {
	cursor: pointer;
}

/* Modal */
.optModalMain {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 999;
}
.optOverlay {
	background-color: rgba(0, 0, 0, .6);
	width: 100%;
	height: 100%;
}
.optModal {
	position: absolute;
	width: 850px;
	background: #171717;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	left: 50%;
	top: 220px;
	text-align: center;
	padding: 15px;
	min-height: 190px;
}
.optModal.optGeorgeModal {
	padding: 0;
}
.optModal h2 {
	text-align: center;
	margin-bottom: 20px;
	margin-top: 10px;
	font-size: 22px;
	color: #568B80;
	font-family: 'Trebuchet MS', Helvetica, Arial, sans-serif;
}
.optModal .optModalContent {
	text-align: left;
}
.optModal.optGeorgeModal .optModalContent {
	padding: 0 15px 15px;
}
.optModal.optGeorgeModal h2 {
	margin-top: 20px;
}
.optSep {
	background-image: url(https://www.contact.nespresso.com/v2/img/popin-title-sep.png);
	background-position: 50% 0;
	height: 4px;
	margin-bottom: 5px;
}
.optbolder {
	font-style: italic;
	margin: 0;
	font-family: 'Trebuchet MS', Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 600;
	padding-bottom: 10px;
	cursor: pointer;
	margin-top: 10px;
	color: #C4C4C4;
}
.optyoutubewrap {
	float: none;
	clear: both;
	width: 100%;
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
}
.optyoutubewrap iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.optModalContent > div {
	padding: 0 5px 10px 5px;
	font-family: 'Trebuchet MS', Helvetica, Arial, sans-serif;
	font-size: 16px;
	color: #C4C4C4;
	border-bottom: 1px solid #262626;
	line-height: 18px;
}
.optClose {
	background: url(https://www.contact.nespresso.com/v2/img/notification-close.png);
	position: absolute;
	top: -15px;
	right: -15px;
	z-index: 9999;
	width: 30px;
	height: 30px;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}
.optHide {
	display: none;
}
.optImage {
	cursor:pointer;	
}
.optImage:after {
	content: "Watch the latest George Clooney Nespresso campaign";
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	position: absolute;
	color: #FFFFFF;
	font-family: "Trebuchet MS";
	font-size: 18px;
	top: calc(50% - 50px);
	width: 100%;
	text-align: center;
	font-weight: 100;
}
.optImage:before {
	content: "";
	width: 56px;
	height: 56px;
	background: url(#$(ContentManager:play-button.png)!);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	position: absolute;
	color: black;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	top: -webkit-calc(50% - 50px);
	top: calc(50% - 100px);
	left: 50%;
	text-align: center;
}
  
  .optModalContent a {
    color: #D4A11E !important;
    cursor: pointer;
    display: inline-block !important;
  }
@media (max-height: 1055px) {
	.optModal .optModalContent {
		text-align: left;
		max-height: 400px;
		overflow-y: scroll;
	}
}

@media (max-height: 900px) {
    .optNav .optModal {
        top: 70px !important;
    
    }

}

  @media (max-width: 868px) {
   	.optNav .optModalMain {
     	position: absolute;
      	width: 100%;
    }
  }
