<style>
 .opt2-01-04 .right-item .arrow {
    float: right;
    margin: 15px 20px;
    filter: brightness(0.8)sepia(100%) hue-rotate(90deg);
}

.opt2-01-04 #confirmCartAction, .button-gray{
    background: #377e00;
    background: -webkit-linear-gradient(top, #377e00 0%, #0a6900 100%);
    background: -moz-linear-gradient(top, #377e00 0%, #0a6900 100%);
    background: -ms-linear-gradient(top, #377e00 0%, #0a6900 100%);
    background: -o-linear-gradient(top, #377e00 0%, #0a6900 100%);
    background: linear-gradient(to bottom, #377e00 0%, #0a6900 100%);
    border:none;
    color:white;
    text-shadow:none;
}

.opt2-01-04 #linkBasket {
   background: url(//service.maxymiser.net/cm/images-eu/1/1/1/069925B51B38F03DBD0D2F9CA1A8F14224E00075B68A47D922FD6AE3EA80A010/nespresso-au/Test-2-01-04-Colour-Use/carticon2.png) !important;
    background-position:0px 0px;
    background-size:100% 100%;
}

.opt2-01-04 #linkBasket #cartProductsCount {
    background-color:
#deae4b;
    color:white;
}
</style>
<script>
    console.log('run')
    function run() {
    try {
     jQuery("body").addClass("opt2-01-04");
    }
    catch (err) {
        setTimeout(function () {
            run();
        },50)
    }
   }
    run()
</script>