<style>
    .opt3-03-03 .product-info {
        width: 100%;
    }
    .opt3-03-03 .product-page > .products-list {
        width: 0px;
        position: absolute;
        top: 336px;
        z-index: 1;
        height:1300px;
        background-color: black;
    }
    .opt3-03-03 .product-page > .products-list.opt-active {
        width: 310px;
        position: absolute;
        top: 336px;
    }
    .opt3-03-03 #a11y-product-list {
        overflow: scroll;
        height: calc(100% - 209px);
    }
    .opt3-03-03 .product-page > .products-list > div:not(.opt-click) {
        display: none;
    }
    .opt3-03-03 .product-page > .products-list.opt-active > div:not(.opt-click) {
        display: block;
    }
    
    .opt3-03-03 .filter-header {
        background: url(/mosaic/_ui/img/ProductBrowserBlock/prod-list-title.png) repeat-x scroll left top black;
    }
 
    .opt3-03-03 .page-header {
        margin: 0px;
        width: 100%;
        height: auto;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .opt3-03-03 .page-header .visuals img {
        width: 100%;
        height: auto;
        max-width: initial;
        left: 50%;
        transform: translate(-50%, 0);
        position: relative;
    }
    .opt3-03-03 .page-header .visuals {
        width: 100%;
        height: auto;
    }
    .opt3-03-03 #product-content {
        display: flex;
    }
    .opt3-03-03 #product-content .product-description {
        width: calc(100% - 272px);
        flex-grow: 1;
    }
    .opt3-03-03 #product-content .products-assoc {
        flex-grow: 1;
        min-width: 272px;
    }
    .opt3-03-03 .product-page .product-description {
        background: black url(/mosaic/_ui/img/ProductBrowserBlock/product-desc-bg.jpg) 0px 0 no-repeat;
    }
    .opt3-03-03 .product-detail-trigger {
        display: none;
    }
    .opt3-03-03 .opt-click {
        position: absolute;
        top: 50px;
        right: -100px;
        transform: rotate(90deg);
        background-color: #52504e;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        width: 150px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor:pointer;
    }
    .opt3-03-03 .opt-click span {
        font-size: 16px;
        padding-right: 20px;
    }
    .opt3-03-03 .opt-click span:after {
        content: " ";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 5px 5px 5px;
        border-color: transparent transparent white transparent;
        position: absolute;
        right: 20px;
        top: 50%;
        transform: rotate(0deg);
    }
    .opt3-03-03 .opt-active .opt-click span:after {
        transform: rotate(180deg);
    }
    
    .opt-click {
        display: none;
    }
    
    .opt3-03-03 .products-list .product-list-title {
        width:100%;
    }
    </style>
    <script>
    function defer(method) {
        if (window.jQuery)
            method();
        else
            setTimeout(function() { defer(method) }, 50);
    }
    defer(function () {
      setTimeout(function(){
          var url = window.location.pathname;
        switch(url){
            case "/au/en/order/capsules/tribute-to-milano-single-sleeve":
                //$(".page-header .visuals img").attr("src","//service.maxymiser.net/cm/images-eu/1/1/1/A389171D68E105B9B336219EF474A2216ACF18577395CB8CF68741BFC723DE27/nespresso-au/Test-3-03-03-Milan-Promotion/1.jpg");
            case "/au/en/order/capsules/tribute-to-milano-coffee-trio":
            case "/au/en/order/capsules/tribute-to-milano-5-sleeve-breakfast-assortment":
            case "/au/en/order/capsules/tribute-to-milano-5-sleeve-pack":
            case "/nz/en/order/capsules/limited-edition-barista-corto-coffee-capsules":
                $("body").addClass("opt3-03-03");
                $(".opt3-03-03 .product-page > .products-list").removeClass("opt-active");
                //$(".push-banner").attr("src","/ecom/medias/sys_master/public/10394870349854/C-0293-Original-Barista-Corto-Main-684x378.jpg");
                break;
            default:
                $("body").removeClass("opt3-03-03");
                break;
        }
        $(".product-page > .products-list").append('<div class="opt-click"><span>All Capsules</span></div>');
        jQuery(".product-page > .products-list .opt-click").click(function(){
            $(".product-page > .products-list").toggleClass("opt-active");
        });
        
        $( document ).ajaxComplete(function() {
            var url = window.location.pathname;
            switch(url){
                case "/au/en/order/capsules/tribute-to-milano-single-sleeve":
                    
                    //$(".page-header .visuals img").attr("src","//service.maxymiser.net/cm/images-eu/1/1/1/A389171D68E105B9B336219EF474A2216ACF18577395CB8CF68741BFC723DE27/nespresso-au/Test-3-03-03-Milan-Promotion/1.jpg");
                case "/au/en/order/capsules/tribute-to-milano-coffee-trio":
                case "/au/en/order/capsules/tribute-to-milano-5-sleeve-breakfast-assortment":
                case "/au/en/order/capsules/tribute-to-milano-5-sleeve-pack":
                case "/nz/en/order/capsules/limited-edition-barista-corto-coffee-capsules":
                     $("body").addClass("opt3-03-03");
                     $(".opt3-03-03 .product-page > .products-list").removeClass("opt-active");
                     //$(".push-banner").attr("src","/ecom/medias/sys_master/public/10394870349854/C-0293-Original-Barista-Corto-Main-684x378.jpg");
                     break;
                default:
                     $("body").removeClass("opt3-03-03");
                    break;
            }
        });
        },1000);
    });
    </script>