<style>.opt-overlay{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.2);
	position: fixed;
	z-index: 9001;
	top: 0px;
}

.opt-modal {
	position: absolute;
	background-color: white;
	border: 2px solid black;
	width: 860px;
	height: 45%;
	max-height: 578px;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	background: black;

	display: flex;
	overflow: hidden;

} 

.opt-modal > img {
  position: absolute;
	left: 50%;
	transform: translate(-50%);
	top: 40px;

}

.opt-modal > div {
	width: 50%;
}

.opt-new {
	background: url(#$(ContentManager:ihIxuIb.png)!);
	background-position: left;
	background-size: cover;
	padding: 100px 40px;
	height: 75%;
}

.opt-new p {
	font-size: 14px;
	margin-bottom: 40px
}

.opt-new p.opt-gold {
	color: #D4A11E;
}

.opt-new img {
	display: block;
	margin: 0 auto;
	width: 90%:
}

.opt-new a, .opt-returning a {
	width: 100%;
}

.opt-new span, .opt-returning span {
	display: block;
	width: 75%;
	padding: 5px !important;
	margin: 0 auto;
}

.opt-returning {
	background: url(#$(ContentManager:cmJoLPp.png)!);
	background-position: left;
	background-size: cover;
	padding: 100px 40px;
	height: 75%;	
}

.opt-returning p {
	font-size: 14px;
	margin-bottom: 40px
}

.opt-returning label {
	display: block;
	font-size: 14px;
	margin-bottom: 10px;
}

.opt-returning input {
	width: 100%;
	margin-bottom: 40px;
}

.opt-returning a {
	display: block;
	margin-bottom: 20px;
}

.opt-returning input[type=checkbox] {
  margin: 0;
  float: left;
	display: inline;
	width: auto;
	margin-right: 20px;
}

.opt-returning a.btn-container {
	margin-top: 35px;
}

.opt-close {
	position: absolute;
	right: 20px;
	top: 20px;
	width: auto !important;
	font-size: 25px;
	cursor: pointer;
}</style>
<script>
// card image: https://www.nespresso.com/ecom/medias/sys_master/public/10280757231646/card-nespresso-club.png

  console.log("starting test");

function addModal() {
  
  console.log("running addModal()");

	$("body").append("<div class='opt-overlay'><div class='opt-modal'></div></div>");

	$(".opt-modal").append("<img class='opt-logo' src='https://www.nespresso.com/ecom/medias/sys_master/public/9948523233310/nespresso-logo-2.png' />");

	$(".opt-modal").append("<div class='opt-returning'></div><div class='opt-new'></div>");

	$(".opt-new").append("<p class='opt-heading' >I am a new customer </p> <p class='opt-gold'>Register and benefit from being a Nespresso Club Member</p><img src='https://www.nespresso.com/ecom/medias/sys_master/public/10280757231646/card-nespresso-club.png' />");

	$(".opt-new").append('<a href="/au/en/registration" id="registerBtn" class="btn-container  ng-isolate-scope" data-registration-checkister-url="/au/en/fastregistration" data-registration-url="/au/en/registration" data-redirect="true" data-registration-button=""><span class="btn button-primary button-green">CONTINUE</span></a>');

	$(".opt-returning").append("<p>I am a returning customer</p> <label>Email address</label> <input class='opt-username' type='text'> <label>Password</label> <input class='opt-password' type='password'> <a> Password Forgotten? </a> <input name='_spring_security_remember_me' id='ta-header-remember-me' data-ng-model='user.rememberme' class='ng-pristine ng-valid' type='checkbox'><label for='ta-header-remember-me' class='checkbox '>Remember me</label>");

	$(".opt-returning").append('<a href="#" id="signinBTN" class="btn-container  ng-isolate-scope"><span class="btn button-primary button-green">SIGN IN</span></a>');

	$(".opt-modal").append("<div class='opt-close' >X</div> ");

	$(".opt-close").click(function() {
 		$(".opt-overlay").fadeOut("slow"); 
	  	$("body").css({"height":"auto","overflow":"inherit"});
	});

	$("#signinBTN").click(function(e){
		e.preventDefault();
		var opt_username = $(".opt-username").val();
		var opt_password = $(".opt-password").val();

		$("#ta-header-username").val(opt_username);
		$("#ta-header-password").val(opt_password);
		
		$("#ta-header-username").change();
		$("#ta-header-password").change();


		$("#login-dropdown form").eq(1).submit();
	});

}

// Check modal views, show once a session

var modal_view_count = sessionStorage.getItem('opt_shown_modal');

if (!modal_view_count){
	addModal();

	modal_view_count = true;
	sessionStorage.opt_shown_modal = modal_view_count;
}
</script>