
	.opt-overlay{
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0.2);
	position: fixed;
	z-index: 9001;
	top: 0px;
  overflow: scroll;
}

.opt-modal {
	position: absolute;
	background-color: white;
	border: 2px solid black;
	width: 850px;
	height: 533px;
	top: 200px;
	left: 50%;
	-webkit-transform: translate(-50%,0);
	-ms-transform: translate(-50%,0);
	transform: translate(-50%,0);
	background: black;

	display: -webkit-box;

	display: -webkit-flex;

	display: -ms-flexbox;

	display: flex;
	overflow: hidden;

} 

.opt-modal > img {
  position: absolute;
	left: 50%;
	-webkit-transform: translate(-50%);
	-ms-transform: translate(-50%);
	transform: translate(-50%);
	top: 40px;

}

.opt-modal > div {
	width: 50%;
}

.opt-new {
	background: url(http://i.imgur.com/ihIxuIb.png);
	background-position: left;
	-webkit-background-size: cover;
	background-size: cover;
	padding: 100px 40px;
	height: 75%;
}

.opt-new p {
	font-size: 14px;
	margin-bottom: 23px
}

.opt-new p.opt-gold {
    color: #D4A11E;
    font-size: 14px;
    margin-bottom: 20px;
}

.opt-new img {
	display: block;
	margin: 0 auto;
	width: 90%:
}

.opt-new a, .opt-returning a {
	width: 100%;
}

.opt-new span, .opt-returning span {
	display: block;
	width: 75%;
	padding: 5px !important;
	margin: 0 auto;
}

.opt-returning {
	background: url(http://i.imgur.com/cmJoLPp.png);
	background-position: left;
	-webkit-background-size: cover;
	background-size: cover;
	padding: 100px 40px;
	height: 75%;	
}

.opt-returning p {
	font-size: 14px;
	margin-bottom: 40px
}

.opt-returning label {
	display: block;
	font-size: 14px;
	margin-bottom: 10px;
}

.opt-returning input {
	width: 100%;
	margin-bottom: 27px !important;
}

.opt-returning a {
	display: block;
	margin-bottom: 20px;
}

.opt-returning input[type=checkbox] {
  margin: 0;
  float: left;
	display: inline;
	width: auto;
	margin-right: 20px;
}

.opt-returning a.btn-container {
	margin-top: 48px;
}

.opt-close {
	position: absolute;
	right: 20px;
	top: 20px;
	width: auto !important;
	font-size: 25px;
	cursor: pointer;
}

.opt-returning > p, .opt-new p {
    font-size: 18px;
}

@media screen and (max-height: 800px) {
	.opt-modal{
		top: 50px;
    	zoom: 0.85;
	}
} 

@media screen and (max-width: 854px){
 	.opt-modal {
    	left: 0px !important;
    	-webkit-transform: translate(0%,0%);
  	}
}