.opt1Container{display:flex;width:996px;margin:auto;justify-content:space-around;align-items:center;text-align:center}.opt-cat-cont a{text-decoration:none}.opt-cat-cont a:hover{opacity:.85}p.opt-cat-title{text-transform:uppercase;color:#D4A11E;font-size:15px;font-weight:600}