.opt1Container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 996px;
    margin: 0px auto 15px auto;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.opt-cat-cont {
  width: 33%;
}

.opt-cat-cont a {
    text-decoration: none;
}

p.opt-cat-title {
    text-transform: uppercase;
    color: white;
    font-size: 25px;
    font-weight: 600;
    margin: 15px 0 15px 0;
}


.opt-cat-cont a:hover {
    opacity: .85;
}

.opt-cat-cont img {
    width: 200px;
}