<div class="optContent">
    <div class="optSection" id="optSection3">
        <h3>STEP 1 - SELECT YOUR MACHINE</h3>
        <div class="optSwiper optMachines"></div>
    </div>
    <div class="optSection" id="optSection4">
        <div class="optStepContentText">
            <h3>STEP 2 - SELECT YOUR CAPSULES</h3>
        </div>
        <div class="optSwiper optCapsules"></div>
    </div>
    <div class="optSection" id="optSection5">
        <div class="optStepContentText">
            <h3 class="optStepTitle">STEP 3 - CHECKOUT</h3>
            <p class="optSmallest"> Your discounts will automatically be applied.</p>
            <a href="/au/en/checkout" class="optGreen" id="optCheckout">CHECKOUT</a>
        </div>
    </div>
</div>