.opt-Content .swiper-slide a {
    display: none;
}
.opt-Mobile .opt-Content .swiper-slide a {
    display: block;
}
.opt-Mobile .opt-Content .opt-Green {
    line-height: 20px;
    height: 20px;
}
.opt-Content {
    margin: auto;
}
.opt-Upper {
    color: #635C51;
    font-family: "Trebuchet MS";
    font-size: 30px;
    margin-top: 58px;
    line-height: initial;
}
.opt-Content .opt-Image:before, .opt-Content .opt-Image:after {
	content:" ";
	background:none;
}
.opt-Section {
    width: 996px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: auto;
    text-align: center;
    color: black;
}
.opt-Swiper .swiper-button-prev {
    left: -35px;
}
.opt-Swiper .swiper-button-next {
    right: -35px;
}
#opt-Section3,
#opt-Section4,
#opt-Section5 {
    background: black;
}
#opt-Section4 {
    background: #fff;
    width: 100%;
    padding-top:30px;
}
#opt-Section4 .opt-StepTitle {
    color: black;
}
#opt-Section4 .opt-Smallest {
    color: black;
}
#opt-Section4 .opt-SlideTitle {
    color: black;
    font-weight:500;
}
#opt-Section4 .opt-Circle {
    color: black;
    border-color: black;
}
#opt-Section5 {
    padding-bottom: 59px;

    width:990px;
    padding:20px 20px 20px;
    
    background:#fff;
}
.opt-Content .opt-SectionTitle {
    color: white;
    font-family: "Trebuchet MS";
    font-size: 30px;
}
.opt-Section {
    padding-bottom: 32px;
}
.opt-Content .opt-BolderText {
    color: white;
    font-family: "Trebuchet MS";
    font-size: 18px;
}
.opt-Content .opt-Goldy {
    font-size: 24px;
    letter-spacing: 2px;
    color: grey;
    line-height: 24px;
    max-width: 300px;
    margin: auto;
    margin-top: 10px;
}
.opt-Content .opt-Larger {
    color: black;
    font-family: "Trebuchet MS";
    font-size: 20px;
    line-height: 20px;
}
.opt-Content .opt-RightSmaller {
    font-family: "Trebuchet MS";
    font-size: 14px;
}
.opt-Content .opt-TextCont {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: white;
    font-family: "Trebuchet MS";
    font-size: 25px;
}
.opt-Content .opt-TextCont span.opt-Circle {
    border: 1px solid white;
    margin-right: 10px;
    border-radius: 50px;
    width: 20px;
    line-height: 20px;
    font-size: 14px;
}
.opt-Content .opt-TextCont .opt-StepTitle {
    font-weight: bold;
}
.opt-Content .opt-Smallest {
    color: black;
    font-family: "Trebuchet MS";
    font-size: 14px;
    font-weight: 100;
}
.opt-Content .opt-Orange {
    color: #CA9542;
    ;
    font-weight: 600;
}
.opt-Content .opt-Black {
    color: black;
}
.opt-Content .opt-Green {
    padding: 0;
    height: 32px;
    line-height: 30px;
    padding: 8px 55px;
    background: #357E00;
    border: 1px solid #204b00;
    color: white;
    border-radius: 3px;
   font-weight: 600;
}
.opt-Content .opt-Background {
    background: #e3dacd url('https://image.ibb.co/f35b0Q/beigebackground.png');
    background-repeat: no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    background-position: bottom;
}
.opt-Content #opt-Section1 h1 {
    text-transform: uppercase;
    color: grey;
}
.opt-Content #opt-Section2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.opt-Content #opt-Section2 .opt-TopRow {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}
.opt-Content #opt-Section2 .opt-TopRow .opt-Right {
    text-align: left;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.opt-Content #opt-Section2 .opt-BottomRow {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}
.opt-Content #opt-Section2 .opt-TopRow > div,
.opt-Content #opt-Section2 .opt-BottomRow > div {
    width: 50%;
    max-width: 350px;
}
.opt-Content #opt-Section3 {
    background-color: #fff;
}
#opt-Section3 {
padding-top:30px;	
}
.opt-Swiper {
    width: 900px;
    width: -webkit-calc(100% - 90px);
    width: calc(100% - 90px);
    margin: auto;
    position: relative;
}
.opt-ColorCont {
    display: inline-block;
    margin-bottom: 5px;
    background-color: #7f7f7f;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 7px 12px;
    line-height: 7px;
}
.opt-ColorCir {
    width: 10px;
    height: 10px;
    border-radius: 50px;
    border: 1px solid black;
    margin: 0px 2px;
    display: inline-block;
    cursor: pointer;
}
.opt-Machines .opt-Image {
    height: 162px;
    width: 200px;
    -webkit-background-size: cover !important;
    background-size: cover !important;
    background-position: center !important;
}
.opt-Content #opt-Section5 .opt-Smallest {
    margin-bottom: 35px;
}
.opt-Swiper .swiper-slide {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.opt-Machines.opt-Swiper .swiper-slide .opt-ContentS {
    min-height: 87px;
    width: 200px;
    margin-top: 10px;
}
.opt-Swiper .swiper-slide .opt-ContentS p.opt-Orange {
    margin-bottom: 10px;
}
.opt-Swiper .opt-SlideTitle {
    color: #000;
    font-family: "Trebuchet MS";
    font-size: 15px;
}
.opt-Machines.opt-Swiper .opt-SlideTitle {
    min-height: 36px;
    line-height: 18px;
}
.opt-Swiper .swiper-slide img.opt-Image {
    width: 127px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: auto;
}
.opt-Swiper .swiper-slide .opt-ContentS p {
    margin: 0;
    margin-bottom: 10px;
}
.opt-Swiper .opt-Contents .opt-Orange {
    color: #CA9542;
    font-family: "Trebuchet MS";
    font-size: 16px;
}
.opt-Swiper .swiper-slide button {
    margin: 0 !important;
}
.opt-Swiper .swiper-button-prev,
.opt-Swiper .swiper-button-next {
    background-image:none;
    height: 20px;
    width: 30px;
    top: 55%;
}
.button-primary.add-to-cart.small-button-green:after {
   content: "\f067";
   font-family: "FontAwesome"
}
#opt-Section4 .button-primary.add-to-cart.small-button-green.filled:after {
   content: " ";
}
.opt-Swiper .swiper-pagination {
    display: none;
}
.opt-Mobile .opt-Content #opt-Section2 .opt-TopRow {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.opt-cat-container {
   display:-webkit-box;
   display:-webkit-flex;
   display:-ms-flexbox;
   display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -webkit-flex-direction:column;
    -ms-flex-direction:column;
    flex-direction:column;
    margin-right:20px;
    margin-top:20px;
}
.opt-title {
   position:relative;
   text-align:center;
   margin-bottom:15px;
   
}	
.opt-cap-item .opt-Image {
   width:100%;
   height:auto;
}
.opt-title span {
   position:relative;
   z-index:1;
   background-color:#fff;
   padding: 0 10px;
   font-size: 14px;
   text-transform: uppercase;
   font-weight: 600;
}
.opt-cap-item {
   width: 100px;
   margin-right:5px;
}
.opt-cap-item .opt-Orange{
   padding-top:10px;
}
.opt-cap-item .opt-SlideTitle {
   font-size: 14px;	
}
.opt-cap-item .opt-SlideTitle {
   height: 27px;	
}
.opt-stack-container {
   width:990px;	
   margin:0 auto;
}
.opt-Section .button-primary.button-green.two-parts .right-part {
   text-transform:uppercase;	
}
.opt-title:after {
   content:" ";
   width:100%;
   left:0px;
   top:50%;
   position:absolute;
   border-bottom:2px solid #868686;
   -webkit-transform: translate(0%,-50%);
   -ms-transform: translate(0%,-50%);
   transform: translate(0%,-50%);
}
#opt-Section4 .button-primary.add-to-cart {
   margin-top:10px;
   background-color:#fff;
   border: 1px solid #357E00;

}
#opt-Section4 {
   padding-bottom:50px !important;	
}
#opt-Section4 .button-primary.add-to-cart.small-button-green {
   color:#357E00;
   text-align:center;
   width:35px;
   height:35px;
   display:-webkit-box;
   display:-webkit-flex;
   display:-ms-flexbox;
   display:flex;
   -webkit-box-align:center;
   -webkit-align-items:center;
   -ms-flex-align:center;
   align-items:center;
   -webkit-box-pack:center;
   -webkit-justify-content:center;
   -ms-flex-pack:center;
   justify-content:center;
   margin: 10px auto;
   font-weight:600;
   font-size: 16px;
}

#opt-Section4 .button-primary.add-to-cart.small-button-green.filled {
   background-color:#357E00;
   color:white;
}	
.opt-capsules {
   display:-webkit-box;
   display:-webkit-flex;
   display:-ms-flexbox;
   display:flex;	
}
.opt-cap-item .opt-Green {
   display:none;	
}
.opt-StepContentText {
   margin-top:0px;	
}
.opt-StepContentText h3 {
   font-weight:500;	
   letter-spacing:1.1px;
   font-size:20px;
   margin-bottom: 20px;
}
.opt-Mobile .opt-Content #opt-Section2 .opt-TopRow > div,
.opt-Mobile .opt-Content #opt-Section2 .opt-BottomRow > div {
    width: 100%;
    max-width: initial;
}
.opt-Mobile .opt-Content .opt-SectionTitle {
    line-height: initial;
}
.opt-Mobile .opt-Content .opt-TextCont .opt-StepTitle {
    line-height: initial;
    margin: 0;
}
.opt-Mobile .opt-Content .swiper-slide button {
    display: none;
}
.opt-Mobile .opt-Swiper {
    width: 300px;
    margin: auto;
    position: relative;
}
.opt-Mobile .opt-Content {
    width: auto;
}
.opt-Mobile .opt-Section {
    width: auto;
    padding: 10px;
}
.swiper-button-prev:after,
.swiper-button-next:after {
    background-image:none;
    content:"\f054";
    color:black;
    font-size:30px;
    font-family: FontAwesome;
    font-style: normal;
   font-weight: normal;
   text-decoration: inherit;
    
}
.swiper-button-prev:after {
   content:"\f053";	 
}

.opt-Overlay {
    background: rgba(0, 0, 0, .5);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 101009;
}
.opt-Modal {
    -webkit-transform: translateX(-50%) !important;
    -ms-transform: translateX(-50%) !important;
    transform: translateX(-50%) !important;
    left: 50% !important;
    z-index: 99999999999 !important;
}

.opt-stack-wrapper {
   display:-webkit-box;
   display:-webkit-flex;
   display:-ms-flexbox;
   display:flex;
   -webkit-flex-wrap:wrap;
   -ms-flex-wrap:wrap;
   flex-wrap:wrap;
   -webkit-box-pack:center;
   -webkit-justify-content:center;
   -ms-flex-pack:center;
   justify-content:center;
}