<style>
 .opt23 .product-title {
	height: initial;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.opt23 .product-title .title span {
	width: 190px;
}

.opt23 .product-title a span {
	width: 98px;
	height: 30px;
	background: #3498DB;
	border-radius: 3px;
}

.opt23 .product-title a span:hover {
	background: #2972a2;
}

.opt23 .product-title .title {
	padding: 10px 0px;
	width: 185px;
}

.opt23 .product-title > div.pull-right.clearfix {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.opt23 #ta-order-proceed {
	float: right;
	margin-top: 13px;
	margin-bottom: 15px;
	margin-right: 8px;
	margin-left: 3px;
	background: #3498DB;
	border-radius: 3px;
	position: relative;
}

.opt23 #ta-order-proceed.opt-disabled {
	cursor: default;
}

.opt23 #opt-hover-details {
	display: none ;
	position: absolute;
	bottom: 45px;
	left: 50%;
	z-index: 1;
	
	width: 274px;
	color: #DD3232;
	transform: translate(-50%, 0%);
	    -webkit-box-shadow: 0 0 1px 1px #B1B3B7;
    -moz-box-shadow: 0 0 1px 1px #B1B3B7;
    box-shadow: 0 0 1px 1px #B1B3B7;
	border-radius:3px;
}

.opt23 #opt-hover-details p {
	padding: 15px;
	margin:0px;
	position:relative;
	z-index:1;
	background-color: #fff;
}

.opt23 #opt-hover-details:after{
	display:flex;
	content: " ";
	width:20px;
	height:20px;
	position:absolute;
	bottom:-15px;
	background-color:#fff;
	left:50%;
	transform: rotate(45deg) translate(-50%,0%);
	    -webkit-box-shadow: 0 0 1px 1px #B1B3B7;
    -moz-box-shadow: 0 0 1px 1px #B1B3B7;
    box-shadow: 0 0 1px 1px #B1B3B7;
	z-index:-2;
	
}

.opt23 .product-title a.opt-disabled span {
	background-color: #C1C4C8;
	box-shadow: 0 0 1px 1px #B1B3B7;
	border: none;
}
</style>
<script>

function getItemQuantityFromName(name){
    if(name.indexOf("3") >= 0 || name.indexOf("Trio") >= 0 || name.indexOf("TRIO") >= 0){
        return 3 * 10;
    } else if(name.indexOf("150") >= 0){
        return 150;
    } else if(name.indexOf("250") >= 0){    
        return 250;
    } else if(name.indexOf("5") >= 0){
        return 5 * 10;
    } else if(name.indexOf("10") >= 0){
        return 10 * 10;
    } 
    return 1;
}

function getCapsuleCartQuantity(){
    var cart = nestms.DataLayer.cart.products;
    var sum = 0;
    for(var product in cart){
        var name = cart[product].product.name;
        var quantity = cart[product].quantity;
        console.log(quantity);
        sum = sum + (getItemQuantityFromName(name) * quantity);
    }
    return sum;
}

function isCheckoutAvailable(){
    var sum = getCapsuleCartQuantity();
    if(sum % 50 == 0 && sum != 0){
        return true;
    } else {
        return false;
    }
}

function setCheckoutButton(){
    var valid = "opt-disabled";
    var href = '';
    if(isCheckoutAvailable()){
        valid = "";
        href = 'href="/au/en/checkout"';
    } 
    if (jQuery('.opt23Button').length == 0) {
        jQuery('.product-title .price').parent().find('.add-to-cart').wrapAll('<div class="optWrapper pull-right opt23Button" style="    float: right;    display: flex;    flex-direction: row;"></div>');
    } else {
        jQuery('.optWrapper a').remove(); 
    }
    
    if (jQuery('.opt23Button').length > 0) {
        jQuery('.optWrapper').append(`
        <a  id="ta-order-proceed" data-ng-if="state === 'filled' || state === 'add'" class="ng-scope ` + valid + `" style="">
            <div id="opt-hover-details"><p>To validate your basket, your order should consist of a minimum 50 capsules and be in multiples of 50 (i.e. 50, 100, 150, etc.). You can mix the variety of capsules as you choose, as long as the total number is a multiple of 50. </p></div>
            <span class="btn button-primary button-green"> Checkout</span>
        </a>
        `);
    }

    jQuery(".opt-disabled").hover(
       function () {
          $("#opt-hover-details").show();
       }, 
       function () {
          $("#opt-hover-details").hide();
       }
    );
}

// USeful for Nespresso mobile to check whether your script has run.
function start () {
    setTimeout(function () {
        jQuery('body').addClass('opt23');
        setCheckoutButton();
        jQuery("button.add-to-cart").click(function(){
            setTimeout(function(){
            jQuery(".quantity-selection, .qty-btn").click(function(){
                    setTimeout(function(){
                        setCheckoutButton();
                    },2000);
                });
            },200);
        },1000);
    });
}

//example wait for jQuery
function defer(method, selector, checkadded) {
    if (window.jQuery) {
        if (jQuery(selector).length > 0){
        method();
        jQuery(window).ajaxComplete(function () {
                start();
            });
        } else {
            setTimeout(function() { defer(method, selector) }, 50);
        }  
    } else {
        setTimeout(function() { defer(method, selector) }, 50);
    }    
}
  
defer(start, '.product-title .button-primary.pull-right.button-green.two-parts.add-to-cart');
// USeful for Nespresso mobile to check whether your script has run.

</script>