.opt_Hide {
    display: none;
}

.opt_oldImage {
    display: none;
}

.opt_mimage {
    display: none;
}

.opt_dimage {
    width: 100%;
}

@media (max-width: 567px) {
    .opt_dimage {
        display: none;
    }
    .opt_mimage {
        display: block;
        width: 100%;
    }
}

@media (max-width: 714px) {
    .ProductListTechnologies > a {
        width: -webkit-calc(50% - 40px);
        width: calc(50% - 40px);
    }
}