<div class="opt_fixed_up_cont">
    <div class="opt_close_button"></div>
    <div class="opt_content">
        <div class="opt_qty_cont">
            <p>Total Quantity: <span id="opt_fixed_up_qty">0</span> capsules</p>
        </div>
        <a class="opt_proceed_button">Proceed to Checkout</a>
    </div>
</div>