.list-items li.lbt-component {
    padding: 10px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 95%;
    margin: auto;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.list-items li.lbt-component > a {
    width: 170px !important;
    -webkit-box-flex: 0 !important;
    -webkit-flex-grow: 0 !important;
    -ms-flex-positive: 0 !important;
    flex-grow: 0 !important;
    margin-right: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.product-container .track-product-click > div:nth-child(1) {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.product-container .track-product-click > div:nth-child(1) .left-item {
    margin: 0 !important;
}
.product-container .track-product-click > div:nth-child(1) .middle-item {
    padding: 0 !important;
}
.right-item.right-arrow-col-3.track-product-click {
    display: none;
}
.list-items li.lbt-component .right-item {
    display: none;
}
.optIntenseCont {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #C19421;
    margin-top: 8px
}
.optIntenseCont p {
    margin: 0;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 8px;
}
.optIntensityBox {
    width: 6px;
    height: 8px;
    background-color: #d9bf7d;
    margin-left: 1px;
}
.optIntensityBox.optIntensely {
    color: white;
    width: 10px;
    height: 11px;
    background-color: #C19421;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    line-height: initial;
}
.optIntensityBox.optIntensely:after {
    content: attr(opt-intense);
    font-size: 10px;
    line-height: 11px !important;
}
.optCartArea {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100% !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 16px;
    max-width: 140px;
}
.optQtyCont {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 40px !important;
    width: 80%;
}
.optQtyCont input.optQtyInput {
    width: initial;
    max-width: 40px;
    border: 2px solid #eeeeee;
    text-align: center;
    font-size: 16px;
    height: 35px;
	user-select: none;
}
.optButton {
    background: green;
    color: white;
    width: 100%;
    max-width: 189px;
    border: 1px solid #437420;
    background-color: #428714;
    border-radius: 3px;
    font-size: 14px;
    height: 32px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: helvetica, arial, sans-serif;
    font-weight: normal;
    margin-top: 5px;
}
.optReadMoreCont {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 10px;
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.optReadMoreCont * {
    display: block !important;
    -webkit-box-flex: 0 !important;
    -webkit-flex-grow: 0 !important;
    -ms-flex-positive: 0 !important;
    flex-grow: 0 !important;
    width: initial !important;
    color: #C19421;
    margin-top: 3px;
}
.optRightArrow {
    margin-right: 3px;
}
.opt_fixed_up_cont {
    position: fixed;
    bottom: 0;
    background: -webkit-linear-gradient(270deg, #303030 0%, #000000 100%);
    background: linear-gradient(180deg, #303030 0%, #000000 100%);
    height: 100px;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}
.opt_fixed_up_cont.opt_invalid_height {
    height: 155px;
}
.opt_content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    height: 80%;
}
.opt_fixed_up_cont.opt_invalid_height .opt_content {
    height: 90%;
}
.opt_content p {
    font-family: helvetica, arial, sans-serif;
    font-size: 14px;
    margin: 0;
    line-height: initial;
}
.opt_proceed_button {
    border: 1px solid #437420;
    background-color: #428714;
    padding: 7px 13px;
    color: #FFFFFF;
    font-family: helvetica, arial, sans-serif;
    font-size: 14px;
    border-radius: 5px;
    font-weight: 100;
    letter-spacing: 0.5px;
}
#opt_fixed_up_qty {
    color: #C19421;
}
.opt_close_button {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 0;
}
body .opt_fixed_up_cont .opt_close_button:after {
    content: "x";
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 10px;
    margin-top: 5px;
    font-size: 24px;
    font-family: helvetica, arial, sans-serif;
}
.opt_invalid_cont {
    background: -webkit-linear-gradient(270deg, #8B1136 0%, #82072D 100%);
    background: linear-gradient(180deg, #8B1136 0%, #82072D 100%);
}
.opt_invalid_cont p {
    font-size: 12px;
    padding: 5px 15px;
}
.opt_proceed_button.optInvalid {
    color: black;
    background: #E8E8E8;
}