<div class="optQtyCont">
    <p>QTY</p>
    <p>-</p>
    <input class="optQtyInput">10</input>
    <p>+</p>
</div>
<div class="optButton">Add to Cart</div>
<div class="optReadMoreCont">
    <div class="optRightArrow">></div>
    <a class="optReadMore">Read More</a>
</div>