#push-group-element {
	float: none;
	width: 100%;
	margin-left: 10px;
}

.article-front {
	float: left;
	width: 33% !important;
}

.article-front h2 {
	display: inline;
}

.articles {
	width: 100%;
}

.recipes {
	width: 30% !important;
	display: inline;
	clear: none;
	float: left;

}

.recipes-table li {
	width: 305px !important;
	border-left: 1px dotted #515151;

}

.recipes-table li img {
	width: 100%;
	height: 186px;
	margin-bottom: 20px;
}

.recipes-header h2 {
	display: block !important;
	width: 112px;
	float: left;
	padding: 0;
	padding-left: 21px;

}

.recipes-header p {
	display: inline;
	float: left;
	padding: 0;
	padding-left: 16px;

}

.recipes-table ul {
	width: 340px;
	display: block;

}

.opt-recycling {
width: 30% !important;
    display: inline-block;
    padding-left: 10px;

}

.opt-recylcing h2 {
	padding: 0;
}

.opt-recycling p {
	color: #CCCCCC;
}