<style>
.opt-fix span[aria-describedby = 'ariaLabelCartTrigger'] {
    display:none;
}
.opt-fix span.totalPrice[aria-describedby = 'ariaLabelCartTrigger'] {
	display:block;
}
</style>
<script>

function defer(method, selector) {
    //console.log(count);
    if (count >= 500) {
        //console.log('Finished');
    } else if (window.jQuery) {
        if (jQuery(selector).length > 0 && count < 50){
            method();
        } else {
            count++
            setTimeout(function() { defer(method, selector); }, 50);
        }  
    } else {
         setTimeout(function() { defer(method, selector); }, 50);
    }
}


function noneCountdefer(method, selector) {
    //console.log(count);
    if (window.jQuery) {
        if (jQuery(selector).length > 0){
            method();
        } else {
            setTimeout(function() { defer(method, selector); }, 50);
        }  
    } else {
         setTimeout(function() { defer(method, selector); }, 50);
    }    
}

function nestMsDefer(method){
    if (window.jQuery) {
        try {
            nestms.DataLayer.cart.products
            method();
        } catch(e) {
            setTimeout(function() { nestMsDefer(method); }, 50);
        }
    } else {
         setTimeout(function() { nestMsDefer(method); }, 50);
    } 
}

//console.log('Running bundle Fix');
var newname = "Nespresso On Ice Limited Edition Bundle",
newprice = "$49.50",
oldname = "Festive Touch Travel Mug Set",
oldprice = "$50.00",
sku = "103279",
count = 0;

function cartContainsProductSKU(SKU){
    var products = nestms.DataLayer.cart.products;
    for(var product in products) {
        if(SKU == product){
            return true;
        }
    }
    return false;
}

function homepage() {
  // Homepage
  // Change main tile
  jQuery('#prod-push-'+sku).find('.prod-info').html(newname+"<br><em>"+newprice+"<em>"); 
  // Change popup
  jQuery('#prod-push-'+sku).click(function () {
      setTimeout(function () {
          if (jQuery('#product-popin .track-product-click').attr('data-product-code') == sku){
              jQuery('#product-popin .prod-name').text(newname);
              jQuery('#product-popin .priceValue').text(newprice);
          }
      },5);
  });
}

defer(homepage, '#prod-push-'+sku);

function run(){
    setTimeout(function(){
        
        updateDropDown();
        //Wait for any dom updates
        var observer = new MutationObserver(function(mutations) {
                noneCountdefer( function(){
                    
                    updateDropDown();
                }, ".cart-details");
        });

       
        var config = { attributes: true, childList: true, characterData: true, subtree: true, attributeOldValue: true, characterDataOldValue: true };

        observer.observe(jQuery("#mini-cart-dropdown")[0], config);

        var observer2 = new MutationObserver(function(mutations) {
            if(!isLoggedIn()){
                if(cartContainsProductSKU(sku)){
                    jQuery("body").addClass("opt-fix");
                    if(jQuery(".ng-binding.totalPrice").length == 0){
                        jQuery("span[aria-describedby='ariaLabelCartTrigger']").after('<span class="ng-binding totalPrice" data-ng-show="state === \'add\' || state === \'filled\'" aria-describedby="ariaLabelCartTrigger"></span>');
                    }
                    setTimeout(function(){
                        if(jQuery(".info .product-name").first().text() == "Touch Travel Mug Summer Edition"){
                            jQuery("span[data-ng-bind='addedProduct.unitPriceFormatted']").text("$49.50");
                            jQuery("#addedPrice").text("$49.50");
                        }
                    },100);
                    var totalPrice = parseFloat(jQuery("span[aria-describedby='ariaLabelCartTrigger']").text().split('$')[1])  + 38.00;
                    totalPrice = totalPrice.toFixed(2);
                    jQuery("span.totalPrice[aria-describedby='ariaLabelCartTrigger']").text("Your basket : $" + totalPrice);
                } else {
                    jQuery("body").removeClass("opt-fix");
                    jQuery("span.totalPrice[aria-describedby='ariaLabelCartTrigger']").remove();
                }
            }
        });

        var config2 = { attributes: true, childList: true, characterData: true, subtree: true, attributeOldValue: true, characterDataOldValue: true };

        //checkout
        observer2.observe(jQuery("span[aria-describedby='ariaLabelCartTrigger']")[0], config2);

        if(!isLoggedIn()){
            if(cartContainsProductSKU(sku)){
                jQuery("body").addClass("opt-fix");
                if(jQuery(".ng-binding.totalPrice").length == 0){
                    jQuery("span[aria-describedby='ariaLabelCartTrigger']").after('<span class="ng-binding totalPrice" data-ng-show="state === \'add\' || state === \'filled\'" aria-describedby="ariaLabelCartTrigger"></span>');
                }
                var totalPrice = parseFloat(jQuery("span[aria-describedby='ariaLabelCartTrigger']").text().split('$')[1])  + 38.00;
                totalPrice = totalPrice.toFixed(2);
                
                jQuery("span.totalPrice[aria-describedby='ariaLabelCartTrigger']").text("Your basket : $" + totalPrice);
            } else {
                jQuery("body").removeClass("opt-fix");
                jQuery("span.totalPrice[aria-describedby='ariaLabelCartTrigger']").remove();
            }
        }
        
    },1000);
}
function globalCart() {
    // jQuery(window).ajaxComplete(function () {
    //     try{
    //         nestms.DataLayer.cart.products;
    //         console.log("found");
    //         if(!jQuery("body").hasClass("opt-fix")){
    //             run();
    //         }
    //     } catch(e){
    //         console.log("not found yet");
    //     }
    // });
    run();
}


function updateDropDown(){
    if(!isLoggedIn()){
        if(cartContainsProductSKU(sku)){
            if(!jQuery(".cart-details").hasClass("cartUpdated") || jQuery(".quantity:eq(1) .ng-scope:eq(1)").text().trim() == "-"){
                //update capsule
                var total = 0;
                var price = 0.00;
                if(jQuery(".quantity:eq(1) .ng-scope:eq(1)").text().trim() != "-"){
                    total =  parseInt(jQuery(".quantity:eq(1) .ng-scope").last().text().trim()) + 40;
                    var price = parseFloat(jQuery(".price:eq(1) .ng-scope").text().split('$')[1])
                    price = price + 38.00;
                    price = price.toFixed(2);
                    price = "$" + price;
                } else {
                    total = "40";
                    price = "$38.00";
                }
                jQuery(".cart-details").addClass("cartUpdated");
                var totalPrice = parseFloat(jQuery(".price[data-ng-bind='miniCart.totalAfterCreditFormatted']").text().split('$')[1]) + 38.00;
                totalPrice = totalPrice.toFixed(2);

                //update total price
                jQuery(".price:eq(1) .ng-scope").text(price);
                jQuery(".quantity:eq(1) .ng-scope").last().text(total);
                jQuery(".price[data-ng-bind='miniCart.totalAfterCreditFormatted']").text("$"+totalPrice);
               
            }
        }
    }
}

defer(globalCart, "span[aria-describedby='ariaLabelCartTrigger']");

function isLoggedIn(){
    if(nestms.DataLayer.user.status == "Anonymous") {
        return false;
    } else {
        return true;
    }
}


function catalogPage () {
    //Catalog Page
    //console.log('Running catalog')
    var mainTitle = jQuery('#ta-add_plus_button[data-product-id="'+sku+'"], #ta-add-to-cart-'+sku+'[data-product-id="'+sku+'"]').closest('.product-title');

    mainTitle.find('.title').find('h2, span').text(newname);
    mainTitle.find('.price strong').text(newprice);
}

function sidebar () {
    var sideBar = jQuery('.products-list .product-item[data-product-code="'+sku+'"]');
    sideBar.find('.title a').text(newname);
    sideBar.find('.price span').text(newprice);
}

function sidebarcode () {
    setTimeout(function () {
        sidebar()
        sidebarupdate();
    },10);
}

function sidebarupdate () {
      jQuery('form[name="filterForm"] div').change(function () {
        sidebarcode();
    });
        jQuery('.reset-filters').click(function () {
            sidebarcode();
        });
}
function ajax() {
    jQuery(window).ajaxComplete(function () {
        setTimeout(function () {
            count = 0;
            defer(catalogPage, '#ta-add_plus_button[data-product-id="'+sku+'"], #ta-add-to-cart-'+sku+'[data-product-id="'+sku+'"]')
            defer(sidebar, '.products-list .product-item[data-product-code="'+sku+'"]')
            defer(suggestionlink, '.prod-suggest-link[data-product-code="'+sku+'"]')
            defer(sidebarupdate, 'form[name="filterForm"] div')
        },50);
    });
}

defer(ajax, 'body');

function suggestionlink () {
  var suggestionlink = jQuery('.prod-suggest-link[data-product-code="'+sku+'"]');

      suggestionlink.find('.suggestion-info-title').text(newname);
      suggestionlink.find('.suggestion-price .price').text(newprice);
}

defer(catalogPage, '#ta-add_plus_button[data-product-id="'+sku+'"],#ta-add-to-cart-'+sku+'[data-product-id="'+sku+'"]')
defer(sidebar, '.products-list .product-item[data-product-code="'+sku+'"]')
defer(suggestionlink, '.prod-suggest-link[data-product-code="'+sku+'"]')
defer(sidebarupdate, 'form[name="filterForm"] div')

var url = document.location.href

function mobileCatItem() {
    if (jQuery('#loginFormHeader').hasClass('account_logged_out')) {
        // Mobile Catalog
        var mobileCatItem = jQuery('.list-items.products #li-'+sku);
        mobileCatItem.find('.product-title').text(newname);
        mobileCatItem.find('.exact-price').text(newprice);
    } else {
        var mobileCatItem = jQuery('.list-items.products #li-'+sku);
        mobileCatItem.find('.product-title').text(newname);
        mobileCatItem.find('.exact-price').text(newprice);
    }
}

function Mobilepdp () {
  // Mobile PDP
  if (jQuery('#loginFormHeader').hasClass('account_logged_out')) {
       var mobilePDP = jQuery('.lbt-product[data-product-code="'+sku+'"]');
      mobilePDP.find('#product-view-title h1').text(newname);
      mobilePDP.find('#product-view-top-bg .exact-price').text(newprice);
    } else {
        var mobilePDP = jQuery('.lbt-product[data-product-code="'+sku+'"]');
        mobilePDP.find('#product-view-title h1').text(newname);
        mobilePDP.find('#product-view-top-bg .exact-price').text(newprice);
    }
}


function mobileAjax() {
    jQuery(window).ajaxComplete(function () {
        count = 0;
        console.log('running mobile ajaxcomplete')
        setTimeout(function () {
            defer(mobileCatItem, '.list-items.products #li-'+sku)
            defer(Mobilepdp, '.lbt-product[data-product-code="'+sku+'"]')
            defer(mobileCartBanner, '#basket #promotionBanners img');
            defer(mobileCart, '#listviewid button[data-product-code="'+sku+'"]');
        }, 50);
    });
};

if (url.indexOf('/mobile/') >= 0 ) {
    console.log('attaching mobile defer')
    count = 0;
    defer(mobileAjax, 'body');
}

function mobileCartBanner () {
    console.log("runnning banner");
    if (jQuery('#listviewid button[data-product-code="'+sku+'"]').length >= 1  && jQuery('#loginFormHeader').hasClass('account_logged_out')) {
        jQuery('#basket #promotionBanners img').attr('src', '');
        jQuery('#basket #promotionBanners a').attr('href', '#');
        jQuery('#basket #promotionBanners img').attr('src', 'http://service.maxymiser.net/cm/images-eu/1/1/1/CC9A1C8A7B339F452CAE20E949240FDAC3B4CE133AA92BB4139FEBBB54B9B3CA/nespresso-au/Bundle-Fix/Offer-2_Iced_Login_640x200.jpg');
        jQuery('#basket #promotionBanners').click(function(e){
            e.stopPropagation();
            e.preventDefault();
            jQuery("#account_button").click();
        });
    }
}



function mobileCart () {
    if (jQuery('#listviewid button[data-product-code="'+sku+'"]').length >= 1 && jQuery('#loginFormHeader').hasClass('account_logged_out')) {
        var cartItem = jQuery('#listviewid button[data-product-code="'+sku+'"]').closest('.lbt-component.product-container');
        cartItem.find('.product-title label').text(newname);
        cartItem.find('.exact-price').text(newprice);
        var price = parseFloat(jQuery('#basket-total').text().split('$')[1])
        price = price + 24.50;
        price = price.toFixed(2)
        price = "$" + price;
        jQuery('#basket-total').text(price)
    } 
}

setTimeout(function(){
    console.log("waiting before defer");
    count = 0;
    defer(mobileCatItem, '.list-items.products #li-'+sku);
    defer(Mobilepdp, '.lbt-product[data-product-code="'+sku+'"] #product-view-title h1');
    defer(mobileCartBanner, '#basket #promotionBanners img');
    defer(mobileCart, '#listviewid button[data-product-code="'+sku+'"]');
},500);


</script>