.opt-2-01-03 .opt-first-container {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.opt-2-01-03 .opt-first-container .exact-price > span {
    margin-left: 5px;
}

.opt-2-01-03 .opt-intense-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-left: 10px;
}

.opt-2-01-03 .opt-intense-container .opt-full {
    background-color: #777879;
}

.opt-2-01-03 .opt-intense-container > div {
    background-color: white;
    height: 5px;
    margin-right: 4px;
    width: 5px;
}

.opt-2-01-03.opt-viewMore .opt-container, .opt-2-01-03.opt-viewMore .optButton {
    display: block !important;
}

.opt-2-01-03.opt-viewMore .right-item.right-arrow-col-3, .opt-2-01-03.opt-viewMore .opt-pricing, .opt-2-01-03 .opt-container, .opt-2-01-03 .optButton, .opt-2-01-03.opt-viewMore .opt-second,.opt-2-01-03 .opt-first {
    display: none !important;
}

.opt-2-01-03 .optButton {
    -moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.3);
    -webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.3);
    background-color: #377e00;
    border-color: black;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.3);
    box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.3);
    color: white;
    font-size: 11px;
    padding: 5px 0px;
    position: relative;
    text-transform: uppercase;
}

.opt-2-01-03 .qtt-price > span {
}

.opt-2-01-03 div.right-item {
    padding-right: 15px;
}

.opt-2-01-03 .button-gray{
    background: none;
    border: 1px solid black;
    background-color: #377e00;
    color: white;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 16px;
    text-shadow: none;
}

.opt-2-01-03 .opt-content h2 {
    text-align: center;
    text-transform: initial;
    color: #626363;
    font-size: 20px;
}

.opt-2-01-03 .opt-continue-button {
    border: 1px solid black ;
    background-color: none ;
    color: #626363;
    -webkit-box-shadow: none ;
    box-shadow: none ;
    font-size: 16px;
    text-shadow: 0 1px 1px #EFEFEF;
    display: block;
    font-weight: bold;
    padding: 12px 0;
    width: 85%;
    border-radius: 7px;
    cursor: pointer;
    position: relative;
    text-align: center;
    margin: 15px auto;
}

.opt-2-01-03.opt-viewMore .opt-first {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex !important;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-height: 60px;
}

.opt-2-01-03 .opt-first > div,.opt-2-01-03 .opt-second > div {
    margin: 0 auto;
    width: 50%;
    text-align: center;
    height: 100%;
}

.opt-2-01-03 .opt-second {
    width: 100%;
    text-align: center;
    min-height: 60px ;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.opt-2-01-03 .opt-banner-container {
    background-color: #342421;
    margin: 2px 0;
}

.opt-2-01-03 .opt-quick-order {
    background-color: #eae0d6;
    border-radius: 5px;
    padding: 10px 10px;
}

.opt-2-01-03 .opt-banner-container h1 {
    color: #eae0d6;
    text-transform: initial;
}

