.free-html:not(.opt_NewContainer) {
    display: none;
}
.opt_NewContainer {
    max-width: 1440px;
}
.opt_NewContainer img {
    max-width: 100%;
}
#opt_SecondBanner {
    padding: 0 60px 50px;
    margin-top: -58px;
}
.opt_h1 {
    color: #FFFFFF;
    font-size: 46px;
    line-height: initial;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 8px;
    font-family: "Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;
    margin-bottom: 10px;
}

.opt_P {
    color: #FFFFFF;
    font-family: "Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;
    margin: 10px 0;
    letter-spacing: 1px;
}

.opt_Bold {
    font-weight: 500;
}

.opt_P.opt_SmallText {
    font-size: 14px;
}

.opt_P.opt_NormalText {
    font-size: 18px;
}

.opt_LargerText {
    font-size: 28px;
}

.opt_Divide {
    position: absolute;
    height: 121px;
    width: 100%;
    background: white;
    z-index: -1;
    height: 100%;
    top: 0;
    -webkit-transform: skewy(5deg);
        -ms-transform: skewy(5deg);
            transform: skewy(5deg);
}

.opt_ProductBanner {
    padding: 121px 0;
    position: relative;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    margin: 60px 0 121px;
}

.opt_ProductBanner .opt_Content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    color: black;
    z-index: 9;
}

.opt_ProductBanner .opt_Content .opt_ImageContainer {
    z-index: 9;
}

.opt_ImageContainer img {
    display: none;
}

.opt_ProductBanner .opt_Content img {
    z-index: 10;
    margin-top: -72px;
    max-width: 100%;
}

.opt_ProductInformation {
    padding: 25px 10px;
    min-width: 442px;
}

.opt_ProductInformation .opt_Heading {
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 35px;
    line-height: initial;
}

.opt_ProductInformation .opt_WasPricing {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 17px;
}

.opt_Gold {
    color: #99703a;
}

.opt_Green {
    color: #3c8608;
}

.opt_Strikout {
    text-decoration: line-through;
}

.opt_IncludeList .opt_Bold {
  font-weight: bold;
  }

.opt_Larger {
    font-size: 22px;
}

.opt_ProductInformation .opt_Includes {
    font-size: 18px;
    line-height: initial;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.opt_ProductInformation .opt_IncludeList li {
    font-size: 16px;
    margin: 15px 0;
    letter-spacing: 1px;
    font-weight: 100;
}

.opt_ProductInformation .opt_Selector {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 35px;
    margin-bottom: 35px;
}

.opt_ProductInformation .opt_Selector p {
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
}

.opt_ProductInformation .opt_Selector div {
    padding-left: 60px;
    font-size: 16px;
    line-height: initial;
    position: relative;
}

.opt_ProductInformation .opt_Selector div:after {
    content: "";
    width: 34px;
    height: 34px;
    background: black;
    border-radius: 50px;
    position: absolute;
    top: -7px;
    left: 15px;
    border: 1px solid black;
    
}

.opt_ProductInformation .opt_Selector .opt_Colour.opt_Silver:after {
    background: #D0D0D0;
    border-color: #B7B7B7;
}

.opt_ProductInformation .opt_Selector .opt_Selected:before {
    content:"";
    width: 18px;
    height: 18px;
    position: absolute;
    background: white;
    left: 24px;
    border-radius: 15px;
    top: 2px;
    z-index: 10;
}

.opt_ProductInformation .opt_Buttons > div {
    display: none;
    z-index: 20;
}
.opt_Show {
    display: block !important;
}

.QuantitySelector__popin {
    z-index: 20;
}
  
#opt_FourthBanner {
  z-index: 9;
  }

#opt_FifthBanner {
    padding: 0 61px;
}

#opt_FifthBanner .opt_Header {
    padding: 5px 0;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

.opt_VideoContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.opt_Half {
    width: 50%;
    margin-right: 5px;
    margin-left: 5px;
}

.opt_Half:nth-child(1) {
    margin-left: 0;
}

.opt_Half:nth-child(2) {
    margin-right: 0;
}

.opt_right a {
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    display: block;
}

.opt_right a img {
    display: block;
    max-width: 100%;
}

.opt_HalfHeight {
    height: 48%;
}

.opt_top {
    margin-bottom: 2%;
}

.opt_left {
	position: relative;
	padding-bottom: 26.1%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.opt_left iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.Footer.ResponsiveContainer {
    position: relative;
  	max-width: 1440px;
}

.opt_Divide.opt_Grey {
    top: -73%;
    height: 100%;
    background: #000000;
    z-index: -1;
}

.Footer__bar {
    padding-top: 141px;
    z-index: -2;
	position: relative;
}


@media (max-width: 1350px) {
    #opt_SecondBanner {
        margin-top: 0;
    }
    .opt_ProductBanner {
        padding: 40px 0;
    }
    .opt_ProductBanner .opt_Content img {
        margin-top: 0;
    }
    
}

@media (max-width: 1000px) {
    .opt_ProductInformation {
        margin: auto;
    }
    .opt_ProductBanner .opt_Content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
}

  @media (max-width: 995px) {
   	 .opt_Divide.opt_Grey {
    	top: -83%;
    }
  }
  
@media (max-width: 800px) {
    #opt_SecondBanner {
        padding: 0;
    }
    .opt_h1 {
        font-size: 28px;
    }
    .opt_P.opt_SmallText {
        font-size: 12px;
    }
    .opt_P.opt_NormalText {
        font-size: 16px;
    }
    #opt_FourthBanner {
        margin-bottom: 60px;
    }
    .opt_VideoContent {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .opt_Half {
        width: 100%;
    }
    .opt_Half {
        margin-left: 0;
    }
    .opt_right a {
        background-size: contain;
        background-position: center;
    }
    .opt_HalfHeight {
        min-height: 100px;
        margin-top: 10px;
    }
    .opt_HalfHeight {
        height: 140px;
    }
    .opt_left {
        padding-bottom: 56.9%;
    }
}

@media (max-width: 635px) {
    .opt_HalfHeight {
        height: 100px;  
    } 
}

@media (max-width: 585px) {
    .opt_ProductInformation {
        min-width: initial;   
    }
    .opt_ProductInformation .opt_Heading {
        font-size: 22px;
        margin-bottom: 15px;
    }
    .opt_ProductInformation .opt_WasPricing {
        font-size: 14px;
    }
    .opt_ProductInformation .opt_Includes {
        font-size: 14px;
    }
    .opt_ProductInformation .opt_IncludeList li {
        font-size: 12px;
    }
    .opt_ProductInformation .opt_Selector {
        margin: 15px 0;
    }
}

@media (max-width: 500px) {
    #opt_FifthBanner {
        padding: 0;   
    }
}

@media (max-width: 470px) {
    .opt_ProductInformation .opt_Selector p {
        font-size: 14px;
    }
    .opt_ProductInformation .opt_Selector div:after {
        width: 34px;
        height: 34px;
    }
}

@media (max-width: 425px) {
    #opt_FifthBanner .opt_Header {
        font-size: 16px;
        letter-spacing: 1px;
        margin-left: 10px;
    }
    .responsive {
        width: 100%;
    }
    #opt_SecondBanner {
        padding: 0 10px;
    }
}

@media (max-width: 375px) {
    .opt_h1 {
        font-size: 24px;
        letter-spacing: 6px;
    }
    .opt_HalfHeight:nth-child(1) {
        margin-top: 5px;
    }
    .opt_HalfHeight {
        height: 100px;  
        margin: 0;
        min-height: initial;
    }
    .opt_ProductInformation .opt_Selector p {
        font-size: 12px;
        margin-right: 5px
    }
    .opt_Colour.opt_Black {
        margin-right: 5px;
    }
    .opt_ProductInformation .opt_Selector div {
        padding-left: 25px;
        font-size: 14px;
    }
    .opt_ProductInformation .opt_Selector div:after {
        width: 20px;
        height: 20px;
        left: 1px;
        top: -2px;
    }
    .opt_ProductInformation .opt_Selector .opt_Selected:before {
        width: 12px;
        height: 12px;
        left: 6px;
        top: 3px;
    }
}