<div class="opt_NewContainer responsive">
        <div class="opt_TopBanner">
            <img src="//placehold.it/1440x525" />
        </div>
        <div id="opt_SecondBanner" class="opt_TextBanner">
            <h1 class="opt_h1">The VertuoPlus<br>Morning Show Offer</h1>
            <p class="opt_P opt_SmallText">For a limited time only, <strong>Nespresso</strong> are offering fantastic value on selected <strong>VertuoPlus machines</strong>. Choose from 3 machines, and receive your complimentary gifts and coffee today.</p>
            <p class="opt_P opt_NormalText opt_Bold">RRP $375, save yourself <span class="opt_LargerText">$176</span> today only!</p>
        </div>
        <div id="opt_ThirdBanner" class="opt_WhiteBanner opt_ProductBanner">
            <div class="opt_Divide"></div>
            <div class="opt_Content">
                <div class="opt_ImageContainer">
                    <img src="//placehold.it/810x560" />
                </div>
                <div class="opt_ProductInformation">
                    <p class="opt_Heading">VERTUOPLUS ROUND TOP</p>
                    <p class="opt_WasPricing">Was <span class="opt_Gold opt_Strikout">$375</span> Now <span class="opt_Green opt_Larger">$199</span> Today Only!</p>
                    <p class="opt_Includes">Includes:</p>
                    <ul class="opt_IncludeList">
                        <li>+ VertuoPlus Machine <span class="opt_Bold">(RRP $299)</span></li>
                        <li>+ Vertuo Coffee Mug Set <span class="opt_Bold">(RRP $39)</span></li>
                        <li>+ 12 Capsule Sample Set <span class="opt_Bold"></span></li>
                        <li>+ Vertuo 4 Sleeve Assortment <span class="opt_Bold">(RRP $39)</span></li>
                        <li>+ FREE Courier Delivery <span class="opt_Bold"></span></li>
                    </ul>
                    <div class="opt_Selector">
                        <p class="opt_Bold">Select Colour:</p>
                        <div class="opt_Colour opt_Black" data-id="105208">
                            Black
                        </div>
                        <div class="opt_Colour opt_Silver" data-id="105209">
                            Silver
                        </div>
                    </div>
                    <div class="opt_Buttons 105208 105209">
                    </div>
                </div>
            </div>
        </div>
        <div id="opt_FourthBanner" class="opt_WhiteBanner opt_ProductBanner">
            <div class="opt_Divide"></div>
            <div class="opt_Content">
                <div class="opt_ImageContainer">
                    <img src="//placehold.it/810x560" />
                </div>
                <div class="opt_ProductInformation">
                    <p class="opt_Heading">VERTUOPLUS ROUND TOP</p>
                    <p class="opt_WasPricing">Was <span class="opt_Gold opt_Strikout">$375</span> Now <span class="opt_Green opt_Larger">$199</span> Today Only!</p>
                    <p class="opt_Includes">Includes:</p>
                    <ul class="opt_IncludeList">
                        <li>+ VertuoPlus Machine <span class="opt_Bold">(RRP $299)</span></li>
                        <li>+ Vertuo Coffee Mug Set <span class="opt_Bold">(RRP $39)</span></li>
                        <li>+ 12 Capsule Sample Set <span class="opt_Bold"></span></li>
                        <li>+ Vertuo 4 Sleeve Assortment <span class="opt_Bold">(RRP $39)</span></li>
                        <li>+ FREE Courier Delivery <span class="opt_Bold"></span></li>
                    </ul>
                    <div class="opt_Selector">
                        <p class="opt_Bold">Select Colour:</p>
                        <div class="opt_Colour opt_Black" data-id="105210">
                            Black
                        </div>
                    </div>
                    <div class="opt_Buttons 105210">
                    </div>
                </div>
            </div>
        </div>
        <div id="opt_FifthBanner" class="opt_BottomBanner">
            <div class="opt_Header">
                <p>As Seen on the morning show</p>
            </div>
            <div class="opt_VideoContent">
                <div class="opt_left opt_Half">
    
                </div>
                <div class="opt_right opt_Half">
                    <div class="opt_top opt_HalfHeight">
                    </div>
                    <div class="opt_bottom opt_HalfHeight">
                    </div>
                </div>
            </div>
        </div>
    </div>