.opt-button {
    width: 50px;
    height: 36px;
    background-color: transparent;
    background-image: url("https://www.nespresso.com/mobile/au/img/nesprite-retina.png");
    background-repeat: no-repeat;
    display: block;
    margin: 0 auto;
    border: none;
    cursor: pointer;
    background-position: -51px -490px;
}

.opt-button.opt-grid-button.active {
    background-position: -51px -584px;
}

.opt-button.opt-grid-button {
    background-position: 0 -584px;
}

.opt-button.opt-list-button.active {
    background-position: -51px -584px;
}

.opt-button.opt-list-button {
    background-position: 0 -584px;
}

.button-img {
    background-image: url("https://www.nespresso.com/mobile/au/en/_ui/nespressomobile/img/nesprite-retina.png") !important;
    background-size: 160px 675px !important;
}

.opt-grid-items .list-items.products > li > ul{
    display:flex;
    flex-wrap:wrap;
    justify-content:flex-start;
}

.opt-grid-items .list-items.products > li > ul > li{
   width:49%;
    display:flex;
    flex-wrap:wrap;
    position:relative;
}

.opt-grid-items .product-title{
    position:relative;
    width:100%;
    font-size:12px;
}
.opt-grid-items .product-container .middle-item.align-top {
    width:100%;
    position:absolute;
    min-height:20px;
    height:100%;
    top:0px;
    left:50%;
    transform:translate(-50%,0);
    text-align:left;
    padding-left:20px !important;
    padding:0px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    max-width:160px;
}

.opt-grid-items .list-items.products > li > ul > li > a:nth-child(2) {
     position:relative;
    padding:0px !important;
    height: 70px;
    margin-bottom:50px;
    width:100%;
    min-height:90px;
}

.opt-grid-items .list-items.products > li > ul > li:nth-child(2n-1){
    border-right:1px solid #CACCCF;
}

.opt-grid-items  .list-items.products img.picto-item {
    width: 70px;
}

.opt-grid-items .list-items.products > li > ul > li > a.right-arrow-col-3  {
     position:absolute;
    padding:0px !important;
    bottom:3px;
}

.opt-grid-items .list-items.products .arrow.retina {
    position:absolute;
    bottom:5px;
    right:17px;
    margin:0px;
}

.opt-grid-items .product-title {
	 top:10px;   
}

.opt-grid-items .qtt-price {
       position: absolute;
    bottom: -52px;
    left: 10px;
    text-align: left;
    padding-left: 10px;
    padding-bottom: 10px;
}

.opt-grid-items .list-items.products .right-item .boxes {
    right:40px;
    position:relative;
    top:0px;
}

.opt-grid-items .number-product-select {
    width: 60px;
    float: right;
    margin: 0 10px;
}


.opt-grid-items .product-container .left-item {
    width: 50%;
    padding: 10px 0;
    vertical-align: middle;
    text-align: center;
    position:relative;
    left:50%;
    transform:translate(-50%,0);
    top:30px;
}



.opt-grid-items .product-container .left-item,  .product-container .opt-grid-items .middle-item, .opt-grid-items .product-container .right-item,.opt-grid-items .list-items.products .product-container  .right-item.right-arrow-col-3 {
    display:block; 
}

.opt-grid-items .product-container .right-item {
    width:100%;
    position:absolute;
    bottom:5px;
}