.opt-overlay{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.6);
	position: fixed;
	z-index: 9001;
	top: 0px;
}

.opt-modal {
	position: absolute;
	background-color: white;
	border: 2px solid black;
	width: 70%;
	height: 70%;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	
	height: 501px;	
	width: 765px;	
	border: 1px solid #000000;	
	background-color: #111111;
}

.opt-close {
	position: absolute;
	width: 25px;
	right: 20px;
	top: 20px;
	cursor: pointer;
}

.opt-modal h2 {
	text-align: center;
	width: 100%;
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 100;
	letter-spacing: 1px;
	margin-top: 30px;
}

.opt-modal hr {
	height: 1px;
	width: 608px;
	margin: 0 auto;
	border: 0.5px solid #464646;
	background-color: #464646;
}

.opt-modal .cart-details {
	width: 90%;
}

.opt-modal .cart-open {
	background: none;
	width: 257px;
	margin-left: 72px;
	margin-top: 20px;
	float: left;
}

.opt-modal td {
  padding: 10px 0px !important;
	vertical-align: middle !important;
	color: #D4A11E !important;
	font-size: 12px !important;;
}

.opt-modal th {
	text-transform: uppercase;
	color: white !important;
	font-size: 12px !important;;
}

.opt-modal td, .opt-modal thead th {
	text-align: center !important;;
}

.opt-modal .reset-cart .view-cart {
    background: url(/mosaic/_ui/img/cart/view-cart-off.png) no-repeat 50% 0;
	  color: white;
    display: inline-block;
    height: 42px;
    margin: 10px;
    text-align: center;
    width: 98px;
    padding: 0;
    text-transform: uppercase;
    font-family: 'Trebuchet MS', Helvetica, Arial, sans-serif;
    font-size: 0.9em;
	  line-height: 21px;
}

.opt-modal .reset-cart .view-cart span, .opt-modal .reset-cart .clear-cart span {
    display: inline-block;
    margin-top: 24px;
}

.opt-modal .reset-cart .clear-cart {
    background: url(/mosaic/_ui/img/cart/clear-cart-off.png) no-repeat 50% 0;
    color: white;
    display: inline-block;
    height: 42px;
    margin: 10px;
    text-align: center;
    width: 98px;
    padding: 0;
    text-transform: uppercase;
    font-family: 'Trebuchet MS', Helvetica, Arial, sans-serif;
    font-size: 0.9em;
  	border: none;
}

.opt-modal .button-green {
  width: 80%;
	height: 45px;
	font-size: 16px;
	line-height: 45px;
}

.opt-upsell {
	height: 365px;
	width: 306px;
	background-color: transparent;
	float:right;
	margin-top: 20px;
	margin-right: 80px;
}

.opt-upsell h3 {
	height: 56px;
	width: 306px;
	background-color: #82082D;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;
	font-weight: 100;
	font-size: 18px;
	line-height: 20px;
	padding-top: 10px;
	border-radius: 10px 10px 0px 0px;
}

.opt-upsell .upsell-area {
	height: 81%;
	width: 100%;
	background: rgba(255,255,255,0.68);
}

.opt-upsell .upsell-area p {
	color: #736F6F;
	margin: 0 40px;
	padding-top: 5px;
	text-align: center;
	font-size: 10px;
}

.opt-upsell .upsell-area h4 {
	color: #2C2B2B;
	width: 70%;
	margin: 15px auto;
	line-height: 18px;
	text-align: center;
	font-weight: bold;
	font-size: 13px;
}

.opt-upsell .opt-item {
	background: black;
	width: 70%;
	height: 42px;
	margin: 0 auto;
	padding-left: 50px;
	padding-right: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	
}

.opt-item .item-name {
	flex-grow: 1;
}

.opt-item .item-price {
	color: #D4A11E;
	margin-right: 10px;
}

.opt-item img {
	cursor: pointer;
}

.opt-continue {
	width: 70%;
	margin: 0 auto;
	display: block;
	padding: 15px 0px;
	border: none;
	border-radius: 5px;
}

.opt-modal .button-green.disabled {
	background-color: #464646;
	border: none;
	color: #7C7A7A;
}

.opt-modal.enough {
	width: 400px;
}

.opt-modal.enough .opt-upsell{
  display: none;	
}

.opt-iframe {
	display: none !important;
}