.opt-3 .back.menu-button{
    display:none;
}

.opt-3 .opt-menu-container {
    position:fixed;
    top:44px;
    left:0px;
    width:80%;
    background-color:#1b1b1b;
    height:100%;
    z-index:999;
    -webkit-transition: all 2s; /* Safari */
    transition: all .5s;
    overflow:hidden;
}

.opt-3 .opt-menu-container > div {
  width:100%;
  min-width:100px;
}

.opt-3 .opt-menu-container > div {
  width:100%;
  min-width:100px;
}

.opt-3 .opt-homePage-Item {
  
}

.opt-3 #nav-toggle { position: absolute; left: 15px; top: 9px; }

#nav-toggle { cursor: pointer; padding: 10px 35px 16px 0px; }
.opt-3 #nav-toggle span, .opt-3 #nav-toggle span:before,.opt-3  #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: white;
  position: absolute;
  display: block;
  content: '';
}
.opt-3 #nav-toggle span:before {
  top: -10px; 
}
.opt-3 #nav-toggle span:after {
  bottom: -10px;
}

.opt-3 #nav-toggle span,.opt-3  #nav-toggle span:before,.opt-3  #nav-toggle span:after {
  transition: all 500ms ease-in-out;
}
.opt-3 #nav-toggle.active span {
  background-color: transparent;
}
.opt-3 #nav-toggle.active span:before,.opt-3  #nav-toggle.active span:after {
  top: 0;
}
.opt-3 #nav-toggle.active span:before {
  transform: rotate(45deg);
}
.opt-3 #nav-toggle.active span:after {
  transform: rotate(-45deg);
}

.opt-3 .opt-child {
    position: absolute;
    top: 0px;
    left: 100%;
    height: 100vh;
    width: 100%;
    z-index: 1;
    background-color: #1b1b1b;
    transition: left 0.3s linear;
}

.opt-3 .opt-menu-container.opt-active .opt-child.opt-active {
    left: 0%;
}

.opt-3 .opt-menu-container.opt-active .opt-homePage-Item {
    position: initial;
}
.opt-3 .opt-homePage-Item {
    padding: 13px;
    padding-left: 10px;
    border-bottom: 1px solid black;
    position: relative;
    transition: left 0.5s linear;
}

.opt-3 .opt-homePage-Item a {
    color: white;
}

.opt-3 .opt-homePage-Item:after {
    position: absolute;
    height: 30px;
    width: 30px;
    top: -5px;
    right: 10px;
    content: " ";
    background-image: url("https://www.nespresso.com/mobile/au/en/_ui/nespressomobile/img/nesprite-retina.png");
    background-size: 160px 675px;
    background-position: -41px -530px;
}

.opt-3 .opt-menu-container > div {
    padding-top: 10px;
}
.opt-3 .opt-child a {
    padding: 13px;
    border-bottom: 1px solid black;
}

.opt-3 .opt-child {
    display: flex;
    flex-direction: column;
}

.opt-3 .opt-child .opt-back {
    color: #5C5C5E;
    position: relative;
    padding-left: 50px;
}

.opt-3 .opt-child .opt-back:after {
    position: absolute;
    left: 13px;
    transform: rotate(180deg);
    content: " ";
    background: url("https://www.nespresso.com/mobile/au/en/_ui/nespressomobile/img/nesprite.png") no-repeat -67px -59px;
    width: 9px;
    height: 14px;
    background-size: 160px 675px ;
}

.opt-3 .opt-promo {
    border: none !important;
    position: relative;
}

.opt-3 .opt-promo img {
    width: 100%;
    height: auto;
}
