.opt_PopupContainer {
    position: absolute;
    bottom: 60px;
    text-align: center;
    background: #f8f8f8;
    border-radius: 3px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    color: rgb(152, 110, 56);
    -webkit-box-shadow: 0px 1px 1px 1px rgb(213, 213, 213);
    box-shadow: 0px 1px 1px 1px rgb(213, 213, 213);
}

.opt_PopupContainer:after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 14px 15px 0 15px;
    border-color: #f8f8f8 transparent transparent transparent;
    line-height: 0px;
    _border-color: #f8f8f8 #000000 #000000 #000000;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
    position: absolute;
    bottom: -14px;
    z-index: 2;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.opt_PopupContainer:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 16px 0 16px;
    border-color: rgb(213, 213, 213) transparent transparent transparent;
    line-height: 0px;
    _border-color: #f8f8f8 #000000 #000000 #000000;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
    position: absolute;
    bottom: -16px;
    z-index: 1;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
}