<style>  
.opt3-03-02 #filter-form {
 display:none;   
}
</style>
<script>
function run(x) {
    try {
       $("body").addClass("opt3-03-02");
    }
    catch (err) {
        setTimeout(function () {
            run(x);
        },x)
    }
   }
run(50)
    
</script>