<style>
  
  .filter-header{
   position: relative; 
  }
  
  .opt-hide {
  	display:none
  }
  
  .filter-header:after {
   	content: "^";
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 18px;
    transform: rotate(180deg)scaleX(1.5);
  }
  .filter-header.opt-arrow:after {
   	transform: scaleX(1.5);
    top: 10px;
  }
  
.optselected .btn-filter.selected {
   	 background: url(/mosaic/_ui/img/ProductBrowserBlock/cafe-btn-filter.png) repeat-x left 0;
     color: black
  }
  
  .optselected .btn-filter {
    background-position: center -54px;
  }
  
  .optselected .btn-filter:hover {
    background: url(/mosaic/_ui/img/ProductBrowserBlock/cafe-btn-filter.png) repeat-x left 0;
  }

.optselected .btn-filter.selected span.text {
    background-position: 0 -72px !important;   
}
  
</style>
<script>
  function run(x) {
    try {
      jQuery('body').addClass('opt3-03-01V2');
    	start()
    }
    catch (err) {
        setTimeout(function () {
            run(x);
        },x)
    }
   }
run(100)
  
function start() {
      setTimeout(function () {
        jQuery('.col-filter').wrapAll('<div class="optfilter"></div>'); 
        jQuery('.optfilter').addClass('opt-hide');
        jQuery('.filter-header').click(function () {
            jQuery('.optfilter').toggleClass('opt-hide');
            jQuery('.filter-header').toggleClass('opt-arrow');
        });
        
        jQuery('.cupsizes .btn-filter, .filter-classic .btn-filter').click(function () {
           setTimeout(function () {
		   var selected = false;
           jQuery('.cupsizes .btn-filter, .filter-classic .btn-filter').each(function () {
                if (jQuery(this).hasClass('selected')) {
                  selected = true;
                }
            });
            if (selected==true) {
             jQuery('.optfilter').addClass('optselected'); 
            } else if (selected==false) {
              jQuery('.optfilter').removeClass('optselected');
            }
          },50);
        }).addClass('addedClick');
        
        jQuery('.optfilter').addClass('opt-ready');
		if (!jQuery('.optfilter').hasClass('opt-ready') || !jQuery('.cupsizes .btn-filter, .filter-classic .btn-filter').hasClass('addedClick')) {
        	start();
        }
      },200)
}
  
</script>