<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 22.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
  <svg version="1.1" id="top_top_right" class="svgline" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 134 54" xml:space="preserve" restart="always">
  <path class="line" d="M132,52V2, M2,52H134"/>
  <path class="overlay" d="M0,52H134" fill="none" stroke-dasharray="134">
    <animate attributeType="CSS" attributeName="stroke-dashoffset" 
           to="-134" dur="1s" begin="0s" fill="freeze"/>
  </path>
  <path class="overlay" d="M132,54V4" fill="none" stroke-dasharray="54">
   <animate id="oo"attributeType="CSS" attributeName="stroke-dashoffset" 
           to="-54" dur="1s" begin="1s" fill="freeze"/>
  </path> 
</svg>
 <svg version="1.1" id="top_right_right" class="svgline" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 184 84" xml:space="preserve" restart="always">
  <path class="line" d="M2,2V84, M2,2H184"/>
  <path class="overlay" d="M2,0V84" fill="none" stroke-dasharray="84">
    <animate attributeType="CSS" attributeName="stroke-dashoffset" 
           to="84" dur="1s" begin="0s" fill="freeze"/>
  </path>
  <path class="overlay" d="M2,2H184" fill="none" stroke-dasharray="184">
   <animate id="oo"attributeType="CSS" attributeName="stroke-dashoffset" 
           to="-184" dur="1s" begin="1s" fill="freeze"/>
  </path> 
</svg>

<svg version="1.1" id="top_left_left" class="svgline" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 134 34" xml:space="preserve" restart="always">
  <path class="line" d="M132,2V34, M2,2H134"/>
  <path class="overlay" d="M132,2V34" fill="none" stroke-dasharray="84">
    <animate attributeType="CSS" attributeName="stroke-dashoffset" 
           to="84" dur="1s" begin="0s" fill="freeze"/>
  </path>
  <path class="overlay" d="M0,2H134" fill="none" stroke-dasharray="134">
   <animate id="oo"attributeType="CSS" attributeName="stroke-dashoffset" 
           to="134" dur="1s" begin="1s" fill="freeze"/>
  </path> 
</svg>



<style>
.svgline {
  width: 400px !important;
}

.line {
  stroke-width: 4px;
  stroke: #8D6431;
  stroke-linecap: round; 
  stroke-dasharray: 0 10;
}
.animating .overlay {
  stroke: white;
  stroke-dashoffset: 0;
  stroke-width: 4px;
  animation: overlay 2s linear;
  -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
  animation-fill-mode: forwards;
}

@keyframes overlay {
  99% {
    stroke:white;
  }
  100% {
    stroke: transparent;
  }
}
</style>