.opt-85 .ResponsiveContainer.ProductDetails__display {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}
.opt-85 .AccessibleLink.DefaultLink.ProductDetails__link.DefaultLink--with-left-chevron {
    width: 100%;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}
.opt-85 .ProductDetails > div:nth-child(3) > div.ProductDetailsReferenceOrder > div > h3 {
    text-align: center;
    text-transform: uppercase;
}
.opt-85 .ProductDetails > div:nth-child(3) > div.ProductDetailsSocialMedias {
    display: none;
}
.opt-85 .ProductDetails > div:nth-child(3) > div.ProductDetailsKeyFeatures__wrapper > div > h3 {
    justify-content: flex-start;
    margin: 0px;
    padding: 15px;
    background-color: #000;
    position: relative
}
.opt-85 .ProductDetails > div:nth-child(3) > div.ProductDetailsKeyFeatures__wrapper > div:after {
    content: " ";
    border-bottom: 2px solid white;
    height: 2px;
    width: calc(100% - 160px);
    position: absolute;
    top: 20px;
    right: 15px;
}
.opt-85 #ProductDetail__erp\2e au\2e b2c\2f prod\2f GCB2-AU-BK-NE > div:nth-child(3) > div.ProductDetailsKeyFeatures__wrapper > div > ul {
    justify-content: space-around;
}
.opt-85 div.ProductDetails__header > div > div.ProductDetails__information > div:nth-child(7) > div > div {
    display: none;
}
.opt-85 div.ProductDetails__header > div > div.ProductDetails__information > div:nth-child(7) > a {
    display: none;
}
.opt-85div.ProductDetails__header > div > div.ProductDetails__information > div:nth-child(9) {
    display: none;
}
.opt-85 div.ProductDetails__header > div > div.ProductDetails__information > div:nth-child(7) p {
    margin-bottom: 20px;
}
.opt-85 .AddToBagButtonLarge,
#AddToBagButton__button-CremaComponentId-1,
.AddToBagButton.AddToBagButtonLarge,
.ProductDetails__add-to-basket {
    width: 100%;
}
.opt-85 .ProductDetails__add-to-basket {
    margin-bottom: 20px;
}
.opt-85 .ProductDetails__price {
    font-size: 48px;
    line-height: 56px;
    letter-spacing: normal;
    text-align: center;
    margin-bottom: 35px;
}
.opt-85 .ProductDetailsBodyInformation__description .ProductDetailsBodyInformation__specifications-list {
    display: none;
}
.opt-85 .ProductDetails > div:nth-child(3) > div.ProductDetailsBody > div {
    display: none;
}
.opt-85 .ProductDetailsBody {
    padding: 0px;
}
.opt-85 .ProductDetails > div:nth-child(3) > div.ProductDetailsKeyFeatures__wrapper > div > ul > li {
    width: 33%;
    display: flex;
    padding-left: 50px;
    padding-right: 40px;
    margin-top: -10px;
}
.opt-85 .ProductDetailsKeyFeatures__wrapper {
    background-color: white;
}
.opt-85 .ProductDetails > div:nth-child(3) > div.ProductDetailsKeyFeatures__wrapper > div {
    background-color: #000;
    position: relative;
}
.opt-85 .ProductDetails > div:nth-child(3) > div.ProductDetailsKeyFeatures__wrapper > div > ul > li > div {
    font-size: 16px;
    line-height: 19px;
    text-align: left;
    width: 133px;
}
.opt-85 .opt-color-container {
    margin-bottom: 30px;
    position:relative;
}
.opt-color-ball {
    position:absolute;
    top:50%;
    width:20px;
    height:20px;
    transform: translateY(-50%);
    left:10px;
    border-radius:50%;
}

.opt-85 #opt-color {
    padding-left:45px;
}
.opt-85 .ProductDetails__range {
    display: none;
}
.opt-85 .ProductDetails > div.ProductDetails__header > div > div.ProductDetails__information > div.ProductDetails__name {
    display: none;
}
.opt-85 .ProductDetails__flavors {
    display: none;
}
.opt-85 .ProductDetails__colorSwitcher {
    display: none;
}
.ProductDetailsImageSlider {
    display: none;
}
.opt-85 .ProductDetailsImage-wrapper {
    display: none;
}
.opt-85 .ProductDetails__information {
    top: 0px;
    position: relative;
}
.opt-85 .ProductDetails__name {
    position: absolute;
    top: 0px;
    left: 20px;
    max-width: 50%;
}
.opt-85 .ProductDetails > div.ProductDetails__header {
    height: auto;
}
.opt-85 #opt-slider-container {}
.opt-85 .opt-left-container {
    width: calc(100% - 400px);
    position: relative;
    z-index: 0;
}
.opt-85 .opt-title h3 {
    font-family: "Trebuchet MS";
    font-size: 32px;
    font-weight: bold;
    line-height: 39px;
    margin-top: 20px;
    margin-bottom: 0px;
}
.ProductDetails__information .ProductDetails__add-to-basket .AddToBagButton__container #AddToBagButton__button-CremaComponentId-1 {
    display:none;
}

.ProductDetails__information .ProductDetails__add-to-basket .AddToBagButton__container .special_add_to_cart {
    display:block !important;
}

.ProductDetails__information .ProductDetails__add-to-basket .AddToBagButton__container #QuantitySelector__wrapper {
    display:none;
}
.opt-shown .special_add_to_cart #QuantitySelector__wrapper {
    display:block !important;
}
@media screen and (min-width: 996px) {
    .opt-85 #opt-slider-container .slider-for img {
        position: absolute;
        top: 0px;
        left: 50%;
        transform: translate(-50%);
        width: 100%;
        height: auto;
    }
    .opt-85 #opt-slider-container .slider-for .slick-slide > div > div {
        position: relative;
        height: 458px;
    }
    .opt-85 #opt-slider-container .slider-nav img {
        position: absolute;
        top: 0px;
        height: 120px;
        width: auto;
        z-index: 1;
    }
    .opt-85 #opt-slider-container .slider-nav .slick-slide > div > div {
        position: relative;
        height: 120px;
    }
    
   
}

@media (max-width: 995px) {
    .opt-85 .ResponsiveContainer.ProductDetails__display {
       max-width: 768px;
    }
    
}   

@media (max-width: 768px){
      .opt-85 .opt-left-container {
            width: 100%;
    }
    .opt-85 .ProductDetails__information {
        width:100%;
    }
    .QuantitySelector__popin--top {
        position:fixed;
        top:50%;
        right:initial;
        left:50%;
        transform: translate(-50%, -50%);
    }
    .opt-shown:after {
        content: " ";
        top:0px;
        left:0px;
        width:100%;
        height:100%;
        background-color:rgba(0,0,0,0.3);
        position:fixed;
        z-index:2001;
    }
    .opt-85 .ProductDetails__price {
        text-align:left;
    }
    .opt-85 .opt-title {
        padding-left: 20px;
        padding-right:20px;
    }
    .opt-85 .slider-nav .slick-list.draggable {
        margin: 0px 10px;
    }
    
    .opt-85 .slick-arrow:before {
        content: " ";
        position: absolute;
        top: 12px;
        right: 0px;
        width: 18px;
        height: 3px;
        background-color: #EBEBEB;
        transform: rotate(45deg);
    }
    .opt-85 .slick-arrow:after {
        content: " ";
        position: absolute;
        top: 0px;
        right: 0px;
        width: 18px;
        height: 3px;
        background-color: #EBEBEB;
        transform: rotate(-45deg);
    }
    .opt-85 .slick-prev,
    .opt-85 .slick-next {
        top: 50%;
        background: none;
    }
    .opt-85 .slick-prev {
        left: 0px;
        top: 50%;
        transform:translateY(-50%);
    }
    .opt-85 .slick-next {
        right: 0px;
        top: 50%;
        transform:translateY(-50%);
    }
    .opt-85 .slick-next:after {
        transform: rotate(225deg);
    }
    .opt-85 .slick-next:before {
        transform: rotate(310deg);
    }
    .opt-85 .slider-nav .slick-list.draggable {
        padding: 0px 0px !important;
        margin: 0px 20px;
    }
    .opt-85 .ProductDetails > div:nth-child(3) > div.ProductDetailsKeyFeatures__wrapper > div > ul > li {
        flex-direction:column;
        padding:0px;
    }
    
    .opt-85 .ProductDetails > div:nth-child(3) > div.ProductDetailsKeyFeatures__wrapper > div > ul > li > div {
        font-size: 13px;
    }
    .opt-85 .ProductDetailsKeyFeatures__feature-title {
        margin:initial;
        width:auto !important;
        text-align:center !important;
    }
    .opt-85 .ProductDetailsKeyFeatures__wrapper {
            background-color: #000 ;
    }
     .opt-85 .ProductDetails > div.ProductDetails__header > div > div.ProductDetails__information > div:nth-child(8) > div > div {
        display:none;
    }
}   

@media (max-width: 425px) {
   .opt-title {
        text-align:center;
    }
    
    .opt-85 .opt-title h3{
        margin-top:0px;
        text-align:left;
    }
    .opt-85 .ProductDetails__information {
        padding-top:10px;
    }
    
    .opt-85 .opt-title h3 {
        font-size: 24px;
    }
    
    .opt-85 .ProductDetails__price {
        font-size: 24px;
        line-height: 26px;
        margin-bottom: 20px;
    }
    .opt-85 .opt-color-container {
        margin-bottom:0px;
    }
    .opt-85 #opt-slider-container {
        margin-bottom:10px;
    }
    
    
}

/** slick slider arrows **/
.slick-arrow:before {
    content: " ";
    position: absolute;
    top: 22px;
    right: 0px;
    width: 35px;
    height: 5px;
    background-color: #EBEBEB;
    transform: rotate(45deg);
}
.slick-arrow:after {
    content: " ";
    position: absolute;
    top: 0px;
    right: 0px;
    width: 35px;
    height: 5px;
    background-color: #EBEBEB;
    transform: rotate(-45deg);
}
.slick-prev,
.slick-next {
    top: 50%;
    background: none;
}
.slick-prev {
    left: 50px;
    top: 50px;
}
.slick-next {
    right: 50px;
    top: 50px;
}
.slick-next:after {
    transform: rotate(225deg);
}
.slick-next:before {
    transform: rotate(310deg);
}
.slider-nav .slick-list.draggable {
    padding: 0px 0px !important;
    margin: 0px 80px;
}

.slick-slide img {
     width: 100%;
    height:auto;
}
/** **/
