.opt-85 .ResponsiveContainer.ProductDetails__display {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.opt-85 .AccessibleLink.DefaultLink.ProductDetails__link.DefaultLink--with-left-chevron {
  width: 100%;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}
.opt-85 .ProductDetails > div:nth-child(3) > div.ProductDetailsReferenceOrder > div > h3 {
  text-align: center;
  text-transform: uppercase;
}
.opt-85 .ProductDetails > div:nth-child(3) > div.ProductDetailsSocialMedias {
  display: none;
}
.opt-85 .ProductDetails > div:nth-child(3) > div.ProductDetailsKeyFeatures__wrapper > div > h3 {
  justify-content: flex-start;
  margin: 0px;
  padding: 15px;
  background-color: #000;
  position: relative
}
.opt-85v0 .ProductDetails > div:nth-child(3) > div.ProductDetailsKeyFeatures__wrapper > div > h3 {
  justify-content: center;
}
.opt-85v1 .ProductDetails > div:nth-child(3) > div.ProductDetailsKeyFeatures__wrapper > div:after {
  content: " ";
  border-bottom: 2px solid white;
  height: 2px;
  width: calc(100% - 160px);
  position: absolute;
  top: 20px;
  right: 15px;
}
.opt-85 .ProductDetails > div:nth-child(3) > div.ProductDetailsKeyFeatures__wrapper > div > ul {
  justify-content: space-around;
}
.opt-85v0 .ProductDetailsKeyFeatures__feature-image {
  margin-bottom: -10px;
}
.opt-85v1 div.ProductDetails__header > div > div.ProductDetails__information > div:nth-child(7) > div > div {
  display: none;
}
.opt-85v1 div.ProductDetails__header > div > div.ProductDetails__information > div:nth-child(7) > a {
  display: none;
}
.opt-85v1 div.ProductDetails__header > div > div.ProductDetails__information > div:nth-child(9) {
  display: none;
}
.opt-85 div.ProductDetails__header > div > div.ProductDetails__information > div:nth-child(7) p {
  margin-bottom: 20px;
}
.opt-85 .AddToBagButtonLarge,
.opt-85 #AddToBagButton__button-CremaComponentId-1,
.opt-85 .AddToBagButton.AddToBagButtonLarge,
.opt-85 .ProductDetails__add-to-basket {
  width: 100%;
}
.opt-85 .ProductDetails__add-to-basket {
  margin-bottom: 20px;
}
.opt-85 .ProductDetails__price {
  font-size: 48px;
  line-height: 56px;
  letter-spacing: normal;
  text-align: center;
  margin-bottom: 35px;
}
.opt-85v1 .ProductDetailsBodyInformation__description .ProductDetailsBodyInformation__specifications-list {
  display: none;
}
.opt-85 .ProductDetails > div:nth-child(3) > div.ProductDetailsBody > div {
  display: none;
}
.opt-85 .ProductDetailsBody {
  padding: 0px;
}
.opt-85v1 .ProductDetails > div:nth-child(3) > div.ProductDetailsKeyFeatures__wrapper > div > ul > li {
  width: 33%;
  display: flex;
  padding-left: 50px;
  padding-right: 40px;
  margin-top: -10px;
}
.opt-85v0 .ProductDetails > div:nth-child(3) > div.ProductDetailsKeyFeatures__wrapper > div > ul > li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 0px;
  padding-bottom: 20px;
}
.opt-85v0 .ProductDetails > div:nth-child(3) > div.ProductDetailsKeyFeatures__wrapper > div > ul > li > div {
  text-align: center !important;
  font-size: 13px !important;
  max-width: 110px;
  height: 20px;
}
.opt-85 .ProductDetailsKeyFeatures__wrapper {
  background-color: white;
}
.opt-85 .ProductDetails > div:nth-child(3) > div.ProductDetailsKeyFeatures__wrapper > div {
  background-color: #000;
  position: relative;
}
.opt-85v0 .ProductDetails > div:nth-child(3) > div.ProductDetailsKeyFeatures__wrapper > div {
  padding-bottom: 20px;
}
.opt-85 .ProductDetails > div:nth-child(3) > div.ProductDetailsKeyFeatures__wrapper > div > ul > li > div {
  font-size: 16px;
  line-height: 19px;
  text-align: left;
  width: 133px;
}
.opt-85 .opt-color-container {
  margin-bottom: 30px;
  position: relative;
}
.opt-color-ball {
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  transform: translateY(-50%);
  left: 10px;
  border-radius: 50%;
}
.opt-85 #opt-color {
  padding-left: 45px;
}
.opt-85 .ProductDetails__range {
  display: none;
}
.opt-85 .ProductDetails > div.ProductDetails__header > div > div.ProductDetails__information > div.ProductDetails__name {
  display: none;
}
.opt-85 .ProductDetails__flavors {
  display: none;
}
.opt-85 .ProductDetails__colorSwitcher {
  display: none;
}
.opt-85 .ProductDetailsImageSlider {
  display: none;
}
.opt-85 .ProductDetailsImage-wrapper {
  display: none;
}
.opt-85 .ProductDetails__information {
  top: 0px;
  position: relative;
}
.opt-85 .ProductDetails__name {
  position: absolute;
  top: 0px;
  left: 20px;
  max-width: 50%;
}
.opt-85 .ProductDetails > div.ProductDetails__header {
  height: auto;
}
.opt-85 #opt-slider-container {}
.opt-85 .opt-left-container {
  width: calc(100% - 400px);
  position: relative;
  z-index: 0;
}
.opt-85 .opt-title h3 {
  font-family: "Trebuchet MS";
  font-size: 32px;
  font-weight: bold;
  line-height: 39px;
  margin-top: 20px;
  margin-bottom: 0px;
}
.opt-85 .ProductDetails__information .ProductDetails__add-to-basket .AddToBagButton__container #AddToBagButton__button-CremaComponentId-1 {
  display: none;
}
.opt-85 .ProductDetails__information .ProductDetails__add-to-basket .AddToBagButton__container .special_add_to_cart {
  display: block !important;
}
.opt-85 .opt-shown .special_add_to_cart #QuantitySelector__wrapper {
  display: block !important;
}

/** slick slider arrows **/
.opt-85 .slick-arrow:before {
  content: " ";
  position: absolute;
  top: 24px;
  right: 0px;
  width: 35px;
  height: 5px;
  border-radius: 2px;
  background-color: #EBEBEB;
  transform: rotate(45deg);
}
.opt-85 .slick-arrow:after {
  content: " ";
  position: absolute;
  top: 0px;
  right: 0px;
  width: 35px;
  height: 5px;
  border-radius: 2px;
  background-color: #EBEBEB;
  transform: rotate(-45deg);
}
.opt-85 .slick-prev,
.opt-85 .slick-next {
  top: 50%;
  background: none;
}
.opt-85 .slick-prev {
  left: 50px;
  top: 50px;
}
.opt-85 .slick-next {
  right: 50px;
  top: 50px;
}
.opt-85 .slick-next:after {
  transform: rotate(225deg);
}
.opt-85 .slick-next:before {
  transform: rotate(310deg);
}
.opt-85 .slider-nav .slick-list.draggable {
  padding: 0px 0px !important;
  margin: 0px 80px;
}
.opt-85 .slick-slide img {
  width: 100%;
  height: auto;
}
.opt-85 #ta-quantity-selector__custom-field::placeholder {
  font-size: 12px;
  color: #656565;
}

/** ACCORDION **/
.opt-85 .ProductDetailsBodyInformation__description .embed-container {
  display: none;
}
.opt-85 .ProductDetailsBodyInformation__description .AccessibleLink {
  display: none;
}
.opt-85v0 .ProductDetailsBodyInformation__description .opt-accordion-content {
  max-height: 0;
  overflow: hidden;
  height: auto;
  transition: max-height 0.5s ease-out;
}
.opt-85v0 .ProductDetailsBodyInformation__description.opt-open .opt-accordion-content {
  max-height: 600px;
}
.opt-85v0 .opt-accordion-header {
  border-bottom: 1px solid #EBEBEB;
  margin-bottom: 12px;
  position: relative;
  cursor: pointer;
}
.opt-85v0 .opt-accordion-header span {
  font-size: 18px;
  line-height: 39px;
}
.opt-85v0 .opt-accordion-header:after {
  content: " ";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  padding: 10px 14px 10px 6px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  background-size: 20px;
  background-position: center right 0px;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='20' height='20' viewBox='0 0 1792 1792' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1395 736q0 13-10 23l-466 466q-10 10-23 10t-23-10L407 759q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l393 393 393-393q10-10 23-10t23 10l50 50q10 10 10 23z'/%3E%3C/svg%3E");
  text-overflow: ellipsis;
}
.opt-85v0 .opt-open .opt-accordion-header:after {
  transform: rotate(180deg) translateY(50%);
}
.opt-85v0 .ProductDetailsBodyInformation__description {
  margin-bottom: 0px;
}
.opt-85v0 .opt-accordion-content p {
  font-family: "Trebuchet MS";
  font-size: 14px;
  line-height: 18px;
}

/********************************************************************************************** variation 3 **/
.opt-85v2 .ProductDetailsKeyFeatures__wrapper {
  display: none;
}
.opt-85v2 .ProductDetails > div:nth-child(3) .ProductDetailsBodyInformation__description {
  margin-bottom: 10px;
}
.opt-85v2 .ProductDetails > div:nth-child(3) {
  background-color: white;
  color: black !important;
  border: none;
  border-image-width: 0px;
  margin-top: -1px;
}
.opt-85v2.opt-85 .ProductDetailsBodyInformation__description .embed-container {
  padding-bottom: 30.25%;
}
.opt-85v2.opt-85 .ProductDetailsBodyInformation__description .embed-container,
.opt-85v2.opt-85 .opt-accordion-content .FreeHTML {
  display: block !important;
  width: 48% !important;
  position: relative;
}
.opt-85v2 .ProductDetailsBodyInformation__description .opt-accordion-content {
  display: flex;
  justify-content: space-between;
}
.opt-85v2 .ProductDetailsBodyInformation__description.opt-open .opt-accordion-content {
  padding: 20px 0;
}
.opt-85v2 .opt-left-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: block;
}
.opt-85v2 #opt-slider-container .slider-for img {
  padding-left: 100px;
  padding-right: 70px;
}
.opt-85v2 #opt-slider-container {
  z-index: 1;
  position: relative;
}
.opt-85v2 .ProductDetails__information {
  width: 100%;
}
.opt-85v2 .opt-color-container {
  max-width: 260px;
}
.opt-85v2 .AddToBagButtonLarge,
.opt-85 #AddToBagButton__button-CremaComponentId-1,
.opt-85v2 .AddToBagButton.AddToBagButtonLarge,
.opt-85v2 .ProductDetails__add-to-basket {
  max-width: 260px;
}
.opt-85v2 .opt-title {
  display: inline-block;
  margin-right: 12px;
}
.opt-85v2 .ProductDetails__price {
  display: inline;
  font-size: 32px;
  line-height: 39px;
}
.opt-85v2 .opt-color-container {
  display: none;
}
.opt-85v2 .ProductDetails > div.ProductDetails__header > div > div.ProductDetails__information > span {
  flex-grow: 1;
}
.opt-85v2 .ProductDetails__information {
  display: flex;
  align-items: center;
  padding: 0px;
}
.opt-85v2 .AccessibleLink.DefaultLink.ProductDetails__link.DefaultLink--with-left-chevron {
  margin-left: 14px;
}
.opt-85v2 .opt-title h3 {
  margin-top: 0px;
  font-size: 32px;
  font-weight: bold;
  line-height: 39px;
}
.opt-85v2 .ProductDetails__add-to-basket {
  margin-bottom: 0px;
}
.opt-85v2 .AccessibleLink.DefaultLink.ProductDetails__link.DefaultLink--with-left-chevron {
  margin-bottom: 60px;
  margin-top: 30px;
}
.opt-85v2 .ProductDetails__colorSwitcher {
  display: inline-block;
  margin-bottom: 0px;
  margin-top: 24px;
}
.opt-85v2 .ResponsiveContainer.ProductDetails__display {
  justify-content: flex-start;
  flex-direction: column;
}
.opt-85 .ProductDetailsColorSwitcher__color-link--active:after,
.opt-85 .ProductDetailsColorSwitcher__color-link--checked:after,
.opt-85 .ProductDetailsColorSwitcher__color-link:active:after,
.opt-85 .ProductDetailsColorSwitcher__color-link:hover:not(.ProductDetailsColorSwitcher__color-link--disabled):after {
  opacity: 0;
  width: 0px;
  height: 0px;
}
.opt-85 .ProductDetailsColorSwitcher__color-link.opt-active-color:after,
.opt-85 .ProductDetailsColorSwitcher__color-link.opt-active-color:after,
.opt-85 .ProductDetailsColorSwitcher__color-link.opt-active-color:active:after,
.opt-85 .ProductDetailsColorSwitcher__color-link.opt-active-color.opt-active-color:hover:not(.ProductDetailsColorSwitcher__color-link--disabled):after {
  opacity: 1;
  width: 12px;
  height: 12px;
}
.opt-container {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50px;
  left: 50px;
  background-color: black;
}
.opt-85 .opt-section {
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: red;
  z-index: 1;
  border-radius: 50%;
}
.top_middle {
  top: 0%;
  left: 50%;
  transform: translate(-50%, -100%);
}
.top_top_right {
  top: 0%;
  left: 100%;
  transform: translate(-50%, -100%);
}
.top_right_right {
  top: 0%;
  left: 100%;
  transform: translate(0%, -50%);
}
.right_middle {
  top: 50%;
  left: 100%;
  transform: translate(0%, -50%);
}
.bottom_right_right {
  top: 100%;
  left: 100%;
  transform: translate(0%, -50%);
}
.bottom_bottom_right {
  top: 100%;
  left: 100%;
  transform: translate(-50%, 0%);
}
.bottom_middle {
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0%);
}
.top_top_left {
  top: 0%;
  left: 0%;
  transform: translate(-50%, -100%);
}
.top_left_left {
  top: 0%;
  left: 0%;
  transform: translate(-100%, -50%);
}
.left_middle {
  top: 50%;
  left: 0%;
  transform: translate(-100%, -50%);
}
.bottom_left_left {
  top: 100%;
  left: 0%;
  transform: translate(-100%, -50%);
}
.bottom_bottom_left {
  top: 100%;
  left: 0%;
  transform: translate(-50%, 0%);
}
.opt-85v2 #opt-slider-container {
  margin-top: 140px;
}
.opt-85v2 .slider-for.slick-initialized.slick-slider {
  margin-bottom: 0px;
}
#opt-hoveri {}
.opt-hover-container {}
.opt-hover-container .opt-hover-element {
  position: absolute;
  display: inline-block;
  z-index: 1;
}
.opt-tail {
  position: absolute;
  z-index: 2;
}
.opt-tail .opt-content {
  display: flex;
  margin: 10px;
  align-items: center;
}
.opt-body {
  display: block;
  position: relative;
  z-index: 3;
}
.opt-test-box {
  height: 100%;
  width: 100%;
  position: absolute;
}
.opt-test-box img {
  width: 100%;
  height: auto;
}
.opt-img-wrapper {
  width: 35px;
  height: 85px;
  min-width: 85px;
  border: 2px solid #EBEBEB;
  border-radius: 50%;
  position: relative;
}
.opt-img-wrapper img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.opt-content span {
  width: 120px;
  position: absolute;
}
.opt-test-box img {
  position: absolute;
  top: 0px;
  left: 0px;
}
.top_right_right .opt-content span,
.top_top_right .opt-content span {
  left: 100%;
}
.bottom_bottom_left .opt-content span,
.left_middle .opt-content span,
.top_left_left .opt-content span,
.top_top_left .opt-content span {
  right: 100%;
  text-align: right;
}
.opt-85v2 #opt-slider-container .slider-for .slick-slide > div > div {
  position: relative;
  height: 558px;
}
.opt-85v2 .opt-mobile {
  display: none;
}
.opt-85v2 .opt-hover-container {
  justify-content: center;
}
.opt-85v2 .opt-mobile-info {
  display: none;
}
@media screen and (min-width: 996px) {
  .opt-85 #opt-slider-container .slider-nav img {
      position: absolute;
      top: 0px;
      left: 50%;
      transform: translateX(-50%);
      height: 120px;
      width: auto;
      z-index: 1;
  }
  .opt-85 #opt-slider-container .slider-for img {
      position: absolute;
      top: 0px;
      left: 50%;
      transform: translate(-50%);
      width: 100%;
      height: auto;
  }
  .opt-85v2 #opt-slider-container .slider-for .slick-slide > div > div {
      position: relative;
      height: 538px;
  }
  .opt-85 #opt-slider-container .slider-nav .slick-slide > div > div {
      position: relative;
      height: 120px;
  }
}
@media (max-width: 995px) and (min-width: 768px) {
  .opt-85 #opt-slider-container .slider-nav img {
      height: 120px;
      margin: 0 auto;
      width: auto;
      z-index: 1;
  }
}
@media (max-width: 995px) {
  .opt-85 .ResponsiveContainer.ProductDetails__display {
      max-width: 768px;
  }
  .opt-85 .slider-nav .slick-list.draggable {
      padding: 0px 0px !important;
      margin: 0px 20px;
  }
  .opt-85 .slider-nav .slick-list.draggable {
      margin: 0px 10px;
  }
  .opt-85 .slick-arrow:before {
      content: " ";
      position: absolute;
      top: 12px;
      right: 0px;
      width: 18px;
      height: 3px;
      background-color: #EBEBEB;
      transform: rotate(45deg);
  }
  .opt-85 .slick-arrow:after {
      content: " ";
      position: absolute;
      top: 0px;
      right: 0px;
      width: 18px;
      height: 3px;
      background-color: #EBEBEB;
      transform: rotate(-45deg);
  }
  .opt-85 .slick-prev,
  .opt-85 .slick-next {
      top: 50%;
      background: none;
  }
  .opt-85 .slick-prev {
      left: 0px;
      top: 50%;
      transform: translateY(-50%);
  }
  .opt-85 .slick-next {
      right: 0px;
      top: 50%;
      transform: translateY(-50%);
  }
  .opt-85 .slick-next:after {
      transform: rotate(225deg);
  }
  .opt-85 .slick-next:before {
      transform: rotate(310deg);
  }
  .opt-85 .slider-nav .slick-list.draggable {
      padding: 0px 0px !important;
      margin: 0px 20px;
  }
}
@media (max-width: 768px) {
  .opt-85 .opt-left-container {
      width: 100%;
  }
  .opt-85 .ProductDetails__information {
      width: 100%;
  }
  .QuantitySelector__popin--top {
      position: fixed;
      top: 50%;
      right: initial;
      left: 50%;
      transform: translate(-50%, -50%);
  }
  .opt-shown:after {
      content: " ";
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3);
      position: fixed;
      z-index: 2001;
  }
  .opt-85 .ProductDetails__price {
      text-align: left;
  }
  .opt-85 .opt-title {
      padding-left: 20px;
      padding-right: 20px;
  }
  .opt-85 .slider-nav .slick-list.draggable {
      margin: 0px 10px;
  }
  .opt-85 .slick-arrow:before {
      content: " ";
      position: absolute;
      top: 12px;
      right: 0px;
      width: 18px;
      height: 3px;
      background-color: #EBEBEB;
      transform: rotate(45deg);
  }
  .opt-85 .slick-arrow:after {
      content: " ";
      position: absolute;
      top: 0px;
      right: 0px;
      width: 18px;
      height: 3px;
      background-color: #EBEBEB;
      transform: rotate(-45deg);
  }
  .opt-85 .slick-prev,
  .opt-85 .slick-next {
      top: 50%;
      background: none;
  }
  .opt-85 .slick-prev {
      left: 0px;
      top: 50%;
      transform: translateY(-50%);
  }
  .opt-85 .slick-next {
      right: 0px;
      top: 50%;
      transform: translateY(-50%);
  }
  .opt-85 .slick-next:after {
      transform: rotate(225deg);
  }
  .opt-85 .slick-next:before {
      transform: rotate(310deg);
  }
  .opt-85 .slider-nav .slick-list.draggable {
      padding: 0px 0px !important;
      margin: 0px 20px;
  }
  .opt-85 .ProductDetails > div:nth-child(3) > div.ProductDetailsKeyFeatures__wrapper > div > ul > li {
      flex-direction: column;
      padding: 0px;
  }
  .opt-85 .ProductDetails > div:nth-child(3) > div.ProductDetailsKeyFeatures__wrapper > div > ul > li > div {
      font-size: 13px;
  }
  .opt-85 .ProductDetailsKeyFeatures__feature-title {
      margin: initial;
      width: auto !important;
      text-align: center !important;
  }
  .opt-85 .ProductDetailsKeyFeatures__wrapper {
      background-color: #000;
  }
  .opt-85v1 .ProductDetails > div.ProductDetails__header > div > div.ProductDetails__information > div:nth-child(8) > div > div {
      display: none;
  }
  .opt-85v2 .ProductDetails__information {
      flex-direction: column;
      align-items: flex-start;
  }
  .opt-85v2 .ProductDetails > div.ProductDetails__header > div > div.ProductDetails__information > span {
      padding-left: 20px;
      padding-top: 10px;
      padding-right: 20px;
  }
  .opt-85v2 .ProductDetails__colorSwitcher {
      display: none;
  }
  .opt-85v2 .opt-color-container {
      display: block;
      width: 100%;
      max-width: 100%;
      margin-top: 15px;
  }
  .opt-85v2 .AccessibleLink.DefaultLink.ProductDetails__link.DefaultLink--with-left-chevron {
      margin-left: 34px;
      margin-bottom: 20px;
      margin-top: 0px;
  }
  .opt-85 #opt-slider-container {
      width: 100%;
      margin-top: 0px;
  }
  .opt-85v2 .slider-for.slick-initialized.slick-slider {
      margin-bottom: 25%;
      margin-top: 60px;
      max-width: 600px;
      width: 70%;
  }
  .opt-85v2 .ProductDetails__add-to-basket {
      padding-left: 20px;
      padding-right: 20px;
      width: 100%;
  }
  .opt-85v2 .ProductDetails__information .ProductDetails__add-to-basket .AddToBagButton__container #AddToBagButton__button-CremaComponentId-1,
  .opt-85v2 .AddToBagButtonLarge,
  .opt-85 #AddToBagButton__button-CremaComponentId-1,
  .opt-85v2 .AddToBagButton.AddToBagButtonLarge,
  .opt-85v2 .ProductDetails__add-to-basket {
      max-width: 100%;
      width: 100%;
  }
  .opt-85v2 .opt-title h3 {
      font-size: 24px;
      margin-top: 0px;
  }
  .opt-85v2 .ProductDetailsBodyInformation__description.ResponsiveContainer {
      padding-left: 10px;
      padding-right: 10px;
  }
  .opt-85v2 .ProductDetailsBodyInformation__description .opt-accordion-content {
      flex-direction: column;
  }
  .opt-85v2.opt-85 .ProductDetailsBodyInformation__description .embed-container,
  .opt-85v2.opt-85 .opt-accordion-content .FreeHTML {
      width: 100% !important;
      margin-bottom: 20px;
  }
  .opt-85 .ProductDetailsBodyInformation__description .embed-container {
      padding-bottom: 56.25% !important;
      margin-top: 0px;
  }
  .opt-85v0 .ProductDetailsBodyInformation__description.opt-open .opt-accordion-content {
      max-height: 800px;
  }
  .opt-85v2 .slider-nav .slick-list.draggable {
      padding: 0px 0px !important;
      margin: 0px 20px;
  }
  .opt-85v2 .slick-next {
      right: 0px;
      top: 50%;
      transform: translateY(-50%);
  }
  .opt-85v2 .slick-prev {
      left: 0px;
      top: 50%;
      transform: translateY(-50%);
  }
  .opt-85v2 .slick-slide img {
      padding-left: 20px;
      padding-right: 10px;
  }
  .opt-85v2 #opt-slider-container .slider-for .opt-img-wrapper {
      height: 90%;
      width: 90%;
      min-width: initial;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0px;
      max-width: 85px;
      max-height: 85px;
  }
  .opt-85v2 #opt-slider-container .slider-for .opt-img-wrapper img {
      padding: 0px;
  }
  .opt-85v2 .opt-hover-container .opt-hover-element {
      position: relative;
      left: initial !important;
      top: initial !important;
      height: 20%;
  }
  .opt-85v2 #opt-hoveri {
      position: absolute;
      left: 110%;
      top: -18%;
      height: 125%;
      transform: translateY(-0%);
      width: 25%;
      z-index: 1;
  }
  .opt-85v2 .opt-hover-container {
      display: flex;
      flex-direction: column;
      height: 100%;
  }
  .opt-85v2 .opt-tail .opt-content span {
      display: none;
  }
  .opt-85v2 .opt-body {
      display: none;
  }
  .opt-85v2 .opt-tail {
      position: initial;
  }
  .opt-85v2 .opt-mobile {
      display: block;
      height: 100%;
  }
  .opt-85v2 .opt-mobile-box {
      position: absolute;
      width: 100%;
      height: 100%;
  }
  .opt-85v2 .opt-tail .opt-content {
      margin: 0px;
  }
  .opt-85v2 #opt-slider-container .slider-for .slick-slide > div > div {
      height: auto;
  }
  .opt-85v2 #opt-slider-container .slider-for img {
      padding-left: 20px;
      padding-right: 0px;
  }
  .opt-85v2 .opt-mobile-info {
      position: absolute;
      top: calc(100% - 10px);
      width: 100vw;
      left: calc(-100vW + 100%);
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .opt-85v2 #opt-slider-container .opt-mobile-info .opt-img-wrapper {
      position: relative;
      top: initial;
      left: initial;
      margin-right: 15px;
      transform: none;
  }
  .opt-85v2 .opt-mobile-info span {
      max-width: 140px;
      color: #6A6A6A;
      font-family: "Trebuchet MS";
      font-size: 15px;
      font-style: italic;
      line-height: 17px;
  }
  .opt-85v2 .opt-mobile-info span br {
      display: none;
  }
  .opt-85v2 .opt-hover-element.opt-active .opt-img-wrapper,
  .opt-85v2 .opt-mobile-info .opt-img-wrapper {
      border: 2px solid #8D6431;
  }
  .opt-85v2 .opt-mobile-box {
      height: auto;
      width: auto;
      top: 50%;
      transform: translateY(-50%);
      right: 100%;
      display: none;
  }
  .opt-85v2 .opt-hover-element.opt-active .opt-mobile-box {
      display: block;
  }
  .opt-85v2 #opt-slider-container .slider-for .opt-mobile-box img {
      padding-left: 0px;
      top: 50%;
      transform: translateY(-50%);
      position: absolute;
      width: 100%;
  }
  .opt-85v2 #opt-slider-container .slider-for .opt-mobile-box.opt-bottom img {
      top: 0px;
  }
}
@media (max-width: 580px) {
  .opt-85v2 #opt-slider-container .slider-for .opt-img-wrapper img {
      max-height:40px;
      max-width: 40px;
  }
}
@media (max-width: 425px) {
  .opt-title {
      text-align:center;
  }
  .opt-85 .opt-title h3 {
      margin-top: 0px;
      text-align: left;
  }
  .opt-85 .ProductDetails__information {
      padding-top: 10px;
  }
  .opt-85 .opt-title h3 {
      font-size: 24px;
  }
  .opt-85 .ProductDetails__price {
      font-size: 24px;
      line-height: 26px;
      margin-bottom: 20px;
  }
  .opt-85 .opt-color-container {
      margin-bottom: 0px;
  }
  .opt-85 #opt-slider-container {
      margin-bottom: 10px;
  }
  .opt-85v0 .ProductDetailsKeyFeatures__feature-image {
      margin-bottom: 0px;
  }
  .opt-85v0 .ProductDetails > div:nth-child(3) > div.ProductDetailsKeyFeatures__wrapper > div {
      padding-bottom: 40px;
  }
  .opt-85v0 .opt-color-container {
      margin-bottom: 20px !important;
  }
  .opt-85v2 .ProductDetails > div.ProductDetails__header > div > div.ProductDetails__information > span {
      width: 100%;
  }
  .opt-85v2 #opt-slider-container .slider-for .opt-img-wrapper img {
      max-height: 30px;
      max-width: 30px;
  }
}
#Layer_1 {
width: 100%;
}
.line {
stroke-width: 4px;
stroke: #8D6431;
stroke-linecap: round; 
stroke-dasharray: 0 10;
}

.overlay {
stroke: white;
stroke-dashoffset: 0;
stroke-width: 4px;
animation: overlay 2s linear;
-webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
animation-fill-mode: forwards;
}


@keyframes fade {
  from { 
      opacity: 1;
  }
to {
  opacity: 0;
}
}


@keyframes overlay {
99% {
  stroke:white;
}
100% {
  stroke: transparent;
}
}












