.code-promo {
	background: #DCDFE4;
}

i {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    position: absolute;
    right: 25px;
    top:50%;
    -webkit-transform: translate(0%,-50%);
}

i.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

i.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

i.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

i.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg) translate(-50%,-50%);
}

.delivery-content .code-promo .line-title .gift {
    margin-right: 55px;   
}

#activation-code-form .info-bubble.inline {
    margin-top: -5px;
    margin-right: 10px;
}

.opt-btn-toggle {
    float: right;
    margin-top: -10px;
}